In [73]:
import pandas as pd
from pandas import Series, DataFrame

In [36]:
text=input('enter a string of integers and words').strip()
s = Series(text.split())

enter a string of integers and words10 5 325 word 2 panda

In [38]:
s.loc[~s.str.isdigit()].str.len().mean()

4.5

In [46]:
(
    s                        # start with series of words
    .loc[s.str.isdigit()]    # keep only digit words
    .astype(int)             # get a series of ints
    .mean()
)

85.5

In [47]:
max_word_length = (
    s                        # start with series of words
    .loc[~s.str.isdigit()]   # keep only non-digit words
    .str.len()               # get length of each word
    .max()                  # calculate mean on the series of lengths
)

s.loc[s.str.len() == max_word_length]

5    panda
dtype: object

In [74]:
df = pd.read_csv('taxi.csv',
                 parse_dates=['tpep_pickup_datetime',
                             'tpep_dropoff_datetime'])
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [80]:
df.loc[df['tpep_pickup_datetime'].dt.hour<12, 'total_amount'].mean()

17.420879297732263

In [81]:
df.loc[df['tpep_pickup_datetime'].dt.day_of_week==1, 'trip_distance'].mean()

2.6611988171064604

In [84]:
df['trip_time']=df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']

In [110]:
df.loc[df['trip_time']==df['trip_time'].min() , 'total_amount'].mean()

13.187692307692313

In [113]:
df.loc[df['trip_time']==df['trip_time'].max() , 'total_amount'].mean()

11.16

In [116]:
df.loc[df['trip_time']>'4 hours','total_amount'].mean()

47.14

In [117]:
df.loc[df['trip_time']< '1 minute','total_amount'].mean()

31.93892857142858