In [73]:
import pandas as pd
from pandas import Series, DataFrame

In [36]:
text=input('enter a string of integers and words').strip()
s = Series(text.split())

enter a string of integers and words10 5 325 word 2 panda

In [38]:
s.loc[~s.str.isdigit()].str.len().mean()

4.5

In [46]:
(
    s                        # start with series of words
    .loc[s.str.isdigit()]    # keep only digit words
    .astype(int)             # get a series of ints
    .mean()
)

85.5

In [47]:
max_word_length = (
    s                        # start with series of words
    .loc[~s.str.isdigit()]   # keep only non-digit words
    .str.len()               # get length of each word
    .max()                  # calculate mean on the series of lengths
)

s.loc[s.str.len() == max_word_length]

5    panda
dtype: object

In [74]:
df = pd.read_csv('taxi.csv',
                 parse_dates=['tpep_pickup_datetime',
                             'tpep_dropoff_datetime'])
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [80]:
df.loc[df['tpep_pickup_datetime'].dt.hour<12, 'total_amount'].mean()

17.420879297732263

In [81]:
df.loc[df['tpep_pickup_datetime'].dt.day_of_week==1, 'trip_distance'].mean()

2.6611988171064604

In [84]:
df['trip_time']=df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']

In [110]:
df.loc[df['trip_time']==df['trip_time'].min() , 'total_amount'].mean()

13.187692307692313

In [113]:
df.loc[df['trip_time']==df['trip_time'].max() , 'total_amount'].mean()

11.16

In [116]:
df.loc[df['trip_time']>'4 hours','total_amount'].mean()

47.14

In [117]:
df.loc[df['trip_time']< '1 minute','total_amount'].mean()

31.93892857142858

In [121]:
filename='../data/winemag-150k-reviews.csv'
df = pd.read_csv(filename)
df.head()
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 105.8 MB

In [125]:
df.info

<bound method DataFrame.info of         Unnamed: 0 country                                        description  \
0                0      US  This tremendous 100% varietal wine hails from ...
1                1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2                2      US  Mac Watson honors the memory of a wine once ma...
3                3      US  This spent 20 months in 30% new French oak, an...
4                4  France  This is the top wine from La Bégude, named aft...
...            ...     ...                                                ...
150925      150925   Italy  Many people feel Fiano represents southern Ita...
150926      150926  France  Offers an intriguing nose with ginger, lime an...
150927      150927   Italy  This classic example comes from a cru vineyard...
150928      150928  France  A perfect salmon shade, with scents of peaches...
150929      150929   Italy  More Pinot Grigios should taste like this. A r...

                                 designation  points  price  \
0                          Martha's Vineyard      96  235.0
1       Carodorum Selección Especial Reserva      96  110.0
2              Special Selected Late Harvest      96   90.0
3                                    Reserve      96   65.0
4                                 La Brûlade      95   66.0
...                                      ...     ...    ...
150925                                   NaN      91   20.0
150926                        Cuvée Prestige      91   27.0
150927                         Terre di Dora      91   20.0
150928                       Grand Brut Rosé      90   52.0
150929                                   NaN      90   15.0

                  province           region_1           region_2  \
0               California        Napa Valley               Napa
1           Northern Spain               Toro                NaN
2               California     Knights Valley             Sonoma
3                   Oregon  Willamette Valley  Willamette Valley
4                 Provence             Bandol                NaN
...                    ...                ...                ...
150925      Southern Italy  Fiano di Avellino                NaN
150926           Champagne          Champagne                NaN
150927      Southern Italy  Fiano di Avellino                NaN
150928           Champagne          Champagne                NaN
150929  Northeastern Italy         Alto Adige                NaN

                   variety                   winery
0       Cabernet Sauvignon                    Heitz
1            Tinta de Toro  Bodega Carmen Rodríguez
2          Sauvignon Blanc                 Macauley
3               Pinot Noir                    Ponzi
4       Provence red blend     Domaine de la Bégude
...                    ...                      ...
150925         White Blend    Feudi di San Gregorio
150926     Champagne Blend                H.Germain
150927         White Blend                Terredora
150928     Champagne Blend                   Gosset
150929        Pinot Grigio            Alois Lageder

[150930 rows x 11 columns]>