In [1]:
import random

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s=Series([10,20,30,40,50,60,70])

In [4]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [5]:
s.describe

<bound method NDFrame.describe of 0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64>

In [13]:
a=Series([19, 22, 24, 25, 22, 20, 19, 17, 22, 26])
a.describe()

count    10.000000
mean     21.600000
std       2.875181
min      17.000000
25%      19.250000
50%      22.000000
75%      23.500000
max      26.000000
dtype: float64

In [14]:
a[0:5]

0    19
1    22
2    24
3    25
4    22
dtype: int64

In [15]:
a*a

0    361
1    484
2    576
3    625
4    484
5    400
6    361
7    289
8    484
9    676
dtype: int64

In [16]:
a*s

0     190.0
1     440.0
2     720.0
3    1000.0
4    1100.0
5    1200.0
6    1330.0
7       NaN
8       NaN
9       NaN
dtype: float64

In [17]:
a*a'

SyntaxError: unterminated string literal (detected at line 1) (1826959753.py, line 1)

In [18]:
a*a.T

0    361
1    484
2    576
3    625
4    484
5    400
6    361
7    289
8    484
9    676
dtype: int64

In [23]:
a=Series([1,2,3])

In [22]:
s*s.T

0    1
1    4
2    9
dtype: int64

In [24]:
s.dot(a)

14

In [39]:
highs=Series([24, 22, 23, 23, 21, 19, 17, 22, 26, 24], index=[3,4,5,6,7,8,9,10,11,12])

In [27]:
highs

03    24
04    22
05    23
06    23
07    21
08    19
09    17
10    22
11    26
12    24
dtype: int64

In [38]:
lows=Series([16, 14, 14, 15, 13, 12, 10, 14, 15, 16], index=['03','04','05','06','07','08','09','10','11','12'])

In [40]:
diff=highs-lows

In [30]:
diff

03     8
04     8
05     9
06     8
07     8
08     7
09     7
10     8
11    11
12     8
dtype: int64

In [41]:
diff.loc[5:10]

5     9
6     8
7     8
8     7
9     7
10    8
dtype: int64

In [45]:
lows=Series([16, 14, 14, 15, 13, 12, 10, 14, 15, 16], index=['03','04','05','06','07','08','09','10','11','12'])
highs=Series([24, 22, 23, 23, 21, 19, 17, 22, 26, 24], index=['03','04','05','06','07','08','09','10','11','12'])
diff=highs-lows
diff.loc['05':'10']

05    9
06    8
07    8
08    7
09    7
10    8
dtype: int64

In [46]:
diff.loc['03':'07'].describe()

count    5.000000
mean     8.200000
std      0.447214
min      8.000000
25%      8.000000
50%      8.000000
75%      8.000000
max      9.000000
dtype: float64

In [47]:
b=Series([36, 44, 51, 35, 44], index=['Dor', 'Mark', 'Roey', 'Haim', 'Hanoch'])
b.loc[b>b.mean()]

Mark      44
Roey      51
Hanoch    44
dtype: int64

In [51]:
b.loc[b<b.mean()-b.std()].count()

1

In [49]:
b.std()

6.59545297913646

In [50]:
b.mean()

42.0

In [56]:
highs=Series([24, 22, 23, 23, 21, 19, 17, 22, 26, 24], index=['03','04','05','06','07','08','09','10','11','12'])
highsf=highs*9/5+32
highsf.astype('int64')

03    75
04    71
05    73
06    73
07    69
08    66
09    62
10    71
11    78
12    75
dtype: int64

In [57]:
highsf

03    75.2
04    71.6
05    73.4
06    73.4
07    69.8
08    66.2
09    62.6
10    71.6
11    78.8
12    75.2
dtype: float64

In [77]:
import numpy as np
highs=Series([24, 22, 23, 23, 21, 19, 17, 22, 26, 24], index=['03','04','05','06','07','08','09','10','11','12'])
highs['04':'06']=np.nan
print(highs.mean())
print(highs.std())
print(highs.fillna(highs.mean()).mean())
print(highs.fillna(highs.mean()).std())
print(highs.fillna(highs.max()).mean())
print(highs.fillna(highs.max()).std())

21.857142857142858
3.1320159337914952
21.857142857142858
2.557280301351915
23.1
3.2472210341220142

In [74]:
highs.fillna(highs.mean()).mean()

21.857142857142858

In [75]:
highs.fillna(highs.max()).mean()

23.1

In [99]:
highs=Series([24, 22, 23, 23, 21, 19, 17, 22, 26, 24], index=['03','04','05','06','07','08','09','10','11','12'])
print(highs.sort_values(ascending=False)[0:3])
print(highs.nlargest(3))
print(highs.loc['04':'08'].sort_values(ascending=True)[0:3])

11    26
03    24
12    24
dtype: int64
11    26
03    24
12    24
dtype: int64
08    19
07    21
04    22
dtype: int64

In [100]:
!head taxi.csv

In [131]:
df=pd.read_csv('taxi.csv')
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000

In [135]:
df[['passenger_count', 'trip_distance', 'total_amount']].describe()

       passenger_count  trip_distance  total_amount
count      9999.000000    9999.000000   9999.000000
mean          1.659466       3.158511     17.552472
std           1.333306       4.037516     15.137990
min           0.000000       0.000000     -7.800000
25%           1.000000       1.000000      8.800000
50%           1.000000       1.700000     12.800000
75%           2.000000       3.300000     19.800000
max           6.000000      64.600000    252.350000

In [153]:
print(df[['passenger_count']].value_counts().nlargest(1))

passenger_count
1                  7207
Name: count, dtype: int64
   passenger_count
0                1

In [158]:
df.loc[df['trip_distance']==0, 'total_amount'].mean()

31.581940298507465

In [160]:
df.loc['total_amount'<=0].count()

SyntaxError: invalid syntax (1200603187.py, line 1)