In [1]:
import random

In [2]:
random.randint(0,50)

12

In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

In [5]:
s = Series([1,2,3,4,5,6,7])

In [6]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [7]:
s[1]

2

In [8]:
s.len()

AttributeError: 'Series' object has no attribute 'len'

In [9]:
s.sum()

28

In [10]:
maxTemp = Series([20,30,24,34,18,23,24,28,31,25])

In [11]:
maxTemp.describe()

count    10.000000
mean     25.700000
std       5.012207
min      18.000000
25%      23.250000
50%      24.500000
75%      29.500000
max      34.000000
dtype: float64

In [12]:
maxTemp5 = maxTemp[0:4]

In [13]:
maxTemp5

0    20
1    30
2    24
3    34
dtype: int64

In [14]:
maxTemp5 = maxTemp[0:5]

In [15]:
maxTemp5

0    20
1    30
2    24
3    34
4    18
dtype: int64

In [16]:
maxTemp5.max()

34

In [17]:
maxTemp[0:5].max()

34

In [18]:
maxTemp = Series([20,30,24,34,18,23,24,28,31,25], index=['01','02','03','04','05','06','07','08','09','10'])

In [19]:
minTemp = Series([16,20,14,23,12,17,15,20,22,14], index=['01','02','03','04','05','06','07','08','09','10'])

In [20]:
diffs=maxTemp-minTemp
diffs

01     4
02    10
03    10
04    11
05     6
06     6
07     9
08     8
09     9
10    11
dtype: int64

In [21]:
diffs[:5].describe()

count     5.00000
mean      8.20000
std       3.03315
min       4.00000
25%       6.00000
50%      10.00000
75%      10.00000
max      11.00000
dtype: float64

In [22]:
diffs.loc['05':'10']

05     6
06     6
07     9
08     8
09     9
10    11
dtype: int64

In [23]:
diffs.iloc[:5].describe()

count     5.00000
mean      8.20000
std       3.03315
min       4.00000
25%       6.00000
50%      10.00000
75%      10.00000
max      11.00000
dtype: float64

In [24]:
len(diffs)

10

In [25]:
s2 = Series([10,20,14,70,40,59], index=['Eyal','Ora','Moti','Erez','Alon','Lior'])
s2

Eyal    10
Ora     20
Moti    14
Erez    70
Alon    40
Lior    59
dtype: int64

In [28]:
s2.loc[s2<s2.mean()]

Eyal    10
Ora     20
Moti    14
dtype: int64

In [29]:
s2.describe()

count     6.000000
mean     35.500000
std      24.961971
min      10.000000
25%      15.500000
50%      30.000000
75%      54.250000
max      70.000000
dtype: float64

In [32]:
s2.loc[s2<s2.mean()-s2.std()]

Eyal    10
dtype: int64

In [33]:
maxTempC = Series([20,30,24,34,18,23,24,28,31,25])

In [34]:
maxTempF = (maxTempC * 1.8) +32
maxTempF

0    68.0
1    86.0
2    75.2
3    93.2
4    64.4
5    73.4
6    75.2
7    82.4
8    87.8
9    77.0
dtype: float64

In [35]:
maxTempF.astype('int8')

0    68
1    86
2    75
3    93
4    64
5    73
6    75
7    82
8    87
9    77
dtype: int8

In [36]:
import numpy as np

In [37]:
maxTempC

0    20
1    30
2    24
3    34
4    18
5    23
6    24
7    28
8    31
9    25
dtype: int64

In [38]:
maxTempC.loc[:4]=np.nan

In [39]:
maxTempC

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5    23.0
6    24.0
7    28.0
8    31.0
9    25.0
dtype: float64

In [42]:
maxTempC = Series([20,30,24,34,18,23,24,28,31,25])
maxTempC.loc[:2]=np.nan
maxTempC

0     NaN
1     NaN
2     NaN
3    34.0
4    18.0
5    23.0
6    24.0
7    28.0
8    31.0
9    25.0
dtype: float64

In [43]:
maxTempC

0     NaN
1     NaN
2     NaN
3    34.0
4    18.0
5    23.0
6    24.0
7    28.0
8    31.0
9    25.0
dtype: float64

In [44]:
maxTempC.fillna(maxTempC.mean())

0    26.142857
1    26.142857
2    26.142857
3    34.000000
4    18.000000
5    23.000000
6    24.000000
7    28.000000
8    31.000000
9    25.000000
dtype: float64

In [45]:
maxTempC.loc[:2]=np.nan
maxTempC

0     NaN
1     NaN
2     NaN
3    34.0
4    18.0
5    23.0
6    24.0
7    28.0
8    31.0
9    25.0
dtype: float64

In [46]:
maxTempC.fillna(maxTempC.mean())
maxTempC.describe()

count     7.000000
mean     26.142857
std       5.336309
min      18.000000
25%      23.500000
50%      25.000000
75%      29.500000
max      34.000000
dtype: float64

In [47]:
maxTempC.loc[:2]=np.nan
maxTempC

0     NaN
1     NaN
2     NaN
3    34.0
4    18.0
5    23.0
6    24.0
7    28.0
8    31.0
9    25.0
dtype: float64

In [51]:
maxTempC.fillna(maxTempC.max()).describe()

count    10.000000
mean     28.500000
std       5.778312
min      18.000000
25%      24.250000
50%      29.500000
75%      34.000000
max      34.000000
dtype: float64

In [49]:
maxTempC

0     NaN
1     NaN
2     NaN
3    34.0
4    18.0
5    23.0
6    24.0
7    28.0
8    31.0
9    25.0
dtype: float64

In [52]:
maxTemp = Series([20,30,24,34,18,23,24,28,31,25], index=['01','02','03','04','05','06','07','08','09','10'])

In [53]:
maxTemp

01    20
02    30
03    24
04    34
05    18
06    23
07    24
08    28
09    31
10    25
dtype: int64

In [55]:
maxTemp.sort_values(ascending=False).iloc[:3]

04    34
09    31
02    30
dtype: int64

In [56]:
maxTemp.nlargest(3)

04    34
09    31
02    30
dtype: int64

In [57]:
maxTemp.loc['04':'08'].nsmallest(3)

05    18
06    23
07    24
dtype: int64

In [58]:
maxTemp

01    20
02    30
03    24
04    34
05    18
06    23
07    24
08    28
09    31
10    25
dtype: int64

In [59]:
maxTemp = Series([20,30,24,18,34,23,24,28,31,25], index=['01','02','03','04','05','06','07','08','09','10'])

In [60]:
maxTemp.loc['04':'08'].nsmallest(3)

04    18
06    23
07    24
dtype: int64

In [61]:
from pandas import Series, DataFrame

In [63]:
s = Series('this is a 2 bunch of words for my 3 course'.split())
s

0      this
1        is
2         a
3     bunch
4        of
5     words
6       for
7        my
8    course
dtype: object

In [68]:
s = input("insert string please")
s1 = Series(s.split())
s1

insert string pleasethis is a 2 bunch of words for my 3 course

0       this
1         is
2          a
3          2
4      bunch
5         of
6      words
7        for
8         my
9          3
10    course
dtype: object

In [69]:
s1.str.len().mean()

2.909090909090909

In [81]:
s1.str.isdigit() == False

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9     False
10     True
dtype: bool

In [84]:
s1.loc[~s1.str.isdigit()].str.len().mean()

3.3333333333333335

In [86]:
df = pd.read_csv('taxi.csv', parse_dates=['tpep_pickup_datetime','tpep_dropoff_datetime'])
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [89]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [106]:
df.loc[df['tpep_pickup_datetime'].dt.hour<12,'total_amount'].mean()

17.420879297732263

In [107]:
df.loc[df['tpep_dropoff_datetime'].dt.day_name()== 'Tuesday','trip_distance'].mean()

2.6615631399317405

In [109]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_time
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80,0 days 00:28:23
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0 days 00:08:26
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00,0 days 00:10:59
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16,0 days 00:19:31
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0 days 00:13:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30,0 days 00:11:19
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30,0 days 00:15:17
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30,0 days 00:24:25
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0 days 00:06:08
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75,0 days 00:23:29

In [132]:
df.loc[df['trip_time'] == df['trip_time'].min(), 'total_amount'].mean()

13.187692307692313

In [112]:
df['trip_time'].max()

Timedelta('0 days 12:38:57')

In [135]:
df.loc[df['trip_time'] > '4 hours', 'total_amount']

126     11.16
3270    83.12
Name: total_amount, dtype: float64

In [137]:
df.groupby('passenger_count')['total_amount'].mean().sort_values()

passenger_count
5    17.211269
1    17.368569
6    17.401355
3    17.994704
2    18.406306
4    18.881648
0    25.570000
Name: total_amount, dtype: float64

In [141]:
df['tip_percantage_total_share'] = df['tip_amount']/df['fare_amount']
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_time,tip_percantage_total_share
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,...,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80,0 days 00:28:23,0.000000
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,...,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0 days 00:08:26,0.153846
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,...,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00,0 days 00:10:59,0.275000
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,...,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16,0 days 00:19:31,0.211852
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,...,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0 days 00:13:17,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,...,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30,0 days 00:11:19,0.000000
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,...,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30,0 days 00:15:17,0.187500
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,...,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30,0 days 00:24:25,0.000000
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,...,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0 days 00:06:08,0.000000
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,...,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75,0 days 00:23:29,0.211905

In [142]:
df.groupby('passenger_count')['tip_percantage_total_share'].mean().sort_values()

passenger_count
6    0.114816
3    0.118341
1    0.125235
5    0.126425
4    0.139813
0    0.262814
2         inf
Name: tip_percantage_total_share, dtype: float64

In [143]:
df.groupby('VendorID')['tip_percantage_total_share'].mean().sort_values()

VendorID
2    0.122878
1         inf
Name: tip_percantage_total_share, dtype: float64