In [2]:
import random

In [5]:
random.randint (0,100)

93

In [7]:
import pandas as pd

In [10]:
from pandas import Series, DataFrame
# datafranme זה כמו גליונות אקסל.
#
#זה כמו אקסל בתוך פייתון

In [15]:
s = Series([10, 20, 30, 40, 50, 60, 70])

In [16]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [17]:
s[0]

10

In [19]:
s [2:5]

2    30
3    40
4    50
dtype: int64

In [20]:
#int64 - כל הערכים 
s.max()

70

In [23]:
s.mean ()

40.0

In [24]:
s.describe()

count     7.000000
mean     40.000000
std      21.602469
min      10.000000
25%      25.000000
50%      40.000000
75%      55.000000
max      70.000000
dtype: float64

In [29]:
w = Series ([42.3, 25, 34, 45, 19, 28.5, 39, 40, 10, 15])

In [33]:
w[0:3]

0    42.3
1    25.0
2    34.0
dtype: float64

In [36]:
w[0:1]

0    42.3
dtype: float64

In [38]:
w.describe()

count    10.000000
mean     29.780000
std      12.229545
min      10.000000
25%      20.500000
50%      31.250000
75%      39.750000
max      45.000000
dtype: float64

In [41]:
w[:5]

0    42.3
1    25.0
2    34.0
3    45.0
4    19.0
dtype: float64

In [42]:
w[:5].max()

45.0

In [43]:
s = Series ([12,20,30,40,50])

In [44]:
s

0    12
1    20
2    30
3    40
4    50
dtype: int64

In [56]:
highs = ([13,15,17,20,24,26,20,24,15,17])
highs

[13, 15, 17, 20, 24, 26, 20, 24, 15, 17]

In [60]:
list = Index(['abcsdefgh'])
highs

NameError: name 'Index' is not defined

In [61]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())

In [69]:
lows = Series([6, 8, 8, 9, 8, 9, 8, 9, 8, 7],
              index='02 03 04 05 06 07 08 09 10 11'.split())

In [70]:
lows

02    6
03    8
04    8
05    9
06    8
07    9
08    8
09    9
10    8
11    7
dtype: int64

In [68]:
lows

NameError: name 'lows' is not defined

In [71]:
highs - lows

02    12
03    10
04    11
05    11
06    11
07    11
08    11
09    11
10    13
11    12
dtype: int64

In [89]:
age = Series( [17, 20, 30, 40, 50],
          index=list('Yosi Moshe Haim Shalom Shay'.split()))
age

Yosi      17
Moshe     20
Haim      30
Shalom    40
Shay      50
dtype: int64

In [90]:
age.mean()
#age.loc[ age > age.mean()]

31.4

In [86]:
age.loc[ age > age.mean()]

Shalom    40
Shay      50
dtype: int64

In [87]:
age.std()

15.811388300841896

In [97]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],index='02 03 04 05 06 07 08 09 10 11'.split(), dtype='int8')
F = highs*1.8+32
F

02    64.4
03    64.4
04    66.2
05    68.0
06    66.2
07    68.0
08    66.2
09    68.0
10    69.8
11    66.2
dtype: float64

In [94]:
F.astype('int64')

0    64
1    64
2    66
3    68
4    66
5    68
6    66
7    68
8    69
9    66
dtype: int64

In [98]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [110]:
import numpy as np
highs = Series([18, 18, 19, np.nan, 19, np.nan, 19, 20, np.nan, 19])

In [100]:
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int64

In [105]:
import numpy as np
s = Series([10, 20, 30, np.nan, 50])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [111]:
s.mean()

27.5

In [112]:
highs = Series([18, 18.5, 19, 20, 19, 26, 19, 29, 22, 19],index='02 03 04 05 06 07 08 09 10 11'.split())

In [113]:
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int64

In [116]:
highs.sort_Series()

AttributeError: 'Series' object has no attribute 'sort_Series'