In [3]:
from pandas import Series, DataFrame

In [11]:
text = input ("Please enter your sentence: ")

Please enter your sentence: Hello there 20 30 59 67 world

In [12]:
s = Series(text.split())

In [13]:
s

0    Hello
1    there
2       20
3       30
4       59
5       67
6    world
dtype: object

In [18]:
s.loc[s.str.isdigit()]

2    20
3    30
4    59
5    67
dtype: object

In [19]:
import numpy as np

s = Series([10, 20, 30, np.nan, 50, 60])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
5    60.0
dtype: float64

In [23]:
s1 = Series('10a 20b 30c 40d 100e'.split())
s1

0     10a
1     20b
2     30c
3     40d
4    100e
dtype: object