In [2]:
import random

In [5]:
random.randint (0,100)

93

In [7]:
import pandas as pd

In [10]:
from pandas import Series, DataFrame
# datafranme זה כמו גליונות אקסל.
#
#זה כמו אקסל בתוך פייתון

In [15]:
s = Series([10, 20, 30, 40, 50, 60, 70])

In [16]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [17]:
s[0]

10

In [19]:
s [2:5]

2    30
3    40
4    50
dtype: int64

In [20]:
#int64 - כל הערכים 
s.max()

70

In [23]:
s.mean ()

40.0

In [24]:
s.describe()

count     7.000000
mean     40.000000
std      21.602469
min      10.000000
25%      25.000000
50%      40.000000
75%      55.000000
max      70.000000
dtype: float64

In [29]:
w = Series ([42.3, 25, 34, 45, 19, 28.5, 39, 40, 10, 15])

In [33]:
w[0:3]

0    42.3
1    25.0
2    34.0
dtype: float64

In [36]:
w[0:1]

0    42.3
dtype: float64

In [38]:
w.describe()

count    10.000000
mean     29.780000
std      12.229545
min      10.000000
25%      20.500000
50%      31.250000
75%      39.750000
max      45.000000
dtype: float64

In [41]:
w[:5]

0    42.3
1    25.0
2    34.0
3    45.0
4    19.0
dtype: float64

In [42]:
w[:5].max()

45.0

In [43]:
s = Series ([12,20,30,40,50])

In [44]:
s

0    12
1    20
2    30
3    40
4    50
dtype: int64

In [56]:
highs = ([13,15,17,20,24,26,20,24,15,17])
highs

[13, 15, 17, 20, 24, 26, 20, 24, 15, 17]

In [60]:
list = Index(['abcsdefgh'])
highs

NameError: name 'Index' is not defined

In [61]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())

In [69]:
lows = Series([6, 8, 8, 9, 8, 9, 8, 9, 8, 7],
              index='02 03 04 05 06 07 08 09 10 11'.split())

In [70]:
lows

02    6
03    8
04    8
05    9
06    8
07    9
08    8
09    9
10    8
11    7
dtype: int64

In [68]:
lows

NameError: name 'lows' is not defined

In [71]:
highs - lows

02    12
03    10
04    11
05    11
06    11
07    11
08    11
09    11
10    13
11    12
dtype: int64

In [89]:
age = Series( [17, 20, 30, 40, 50],
          index=list('Yosi Moshe Haim Shalom Shay'.split()))
age

Yosi      17
Moshe     20
Haim      30
Shalom    40
Shay      50
dtype: int64

In [90]:
age.mean()
#age.loc[ age > age.mean()]

31.4

In [86]:
age.loc[ age > age.mean()]

Shalom    40
Shay      50
dtype: int64

In [87]:
age.std()

15.811388300841896

In [97]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],index='02 03 04 05 06 07 08 09 10 11'.split(), dtype='int8')
F = highs*1.8+32
F

02    64.4
03    64.4
04    66.2
05    68.0
06    66.2
07    68.0
08    66.2
09    68.0
10    69.8
11    66.2
dtype: float64

In [94]:
F.astype('int64')

0    64
1    64
2    66
3    68
4    66
5    68
6    66
7    68
8    69
9    66
dtype: int64

In [98]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [110]:
import numpy as np
highs = Series([18, 18, 19, np.nan, 19, np.nan, 19, 20, np.nan, 19])

In [100]:
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int64

In [105]:
import numpy as np
s = Series([10, 20, 30, np.nan, 50])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [111]:
s.mean()

27.5

In [122]:

highs = Series([16, 18, 19, 20, 19, 26, 19, 29, 22, 19],index='02 03 04 05 06 07 08 09 10 11'.split())

In [113]:
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int64

In [124]:
highs.sort_index()

02    16
03    18
04    19
05    20
06    19
07    26
08    19
09    29
10    22
11    19
dtype: int64

In [125]:
highs.sort_values(ascending=False).head(3)

09    29
07    26
10    22
dtype: int64

In [133]:
df = pd.read_csv('taxi.csv')
pd.read_csv('taxi.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [136]:
df = pd.read_csv('taxi.csv')

In [137]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000

In [164]:
df = pd.read_csv('taxi.csv') # טוען את הקובץ
df.head

<bound method NDFrame.head of       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0            2  2015-06-02 11:19:29   2015-06-02 11:47:52                1
1            2  2015-06-02 11:19:30   2015-06-02 11:27:56                1
2            2  2015-06-02 11:19:31   2015-06-02 11:30:30                1
3            2  2015-06-02 11:19:31   2015-06-02 11:39:02                1
4            1  2015-06-02 11:19:32   2015-06-02 11:32:49                1
...        ...                  ...                   ...              ...
9994         1  2015-06-01 00:12:59   2015-06-01 00:24:18                1
9995         1  2015-06-01 00:12:59   2015-06-01 00:28:16                1
9996         2  2015-06-01 00:13:00   2015-06-01 00:37:25                1
9997         2  2015-06-01 00:13:02   2015-06-01 00:19:10                6
9998         1  2015-06-01 00:13:04   2015-06-01 00:36:33                1

      trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0              1.63        -73.954430        40.764141           1
1              0.46        -73.971443        40.758942           1
2              0.87        -73.978111        40.738434           1
3              2.13        -73.945892        40.773529           1
4              1.40        -73.979088        40.776772           1
...             ...               ...              ...         ...
9994           2.70        -73.947792        40.814972           1
9995           4.50        -74.004066        40.747818           1
9996           5.59        -73.994377        40.766102           1
9997           1.54        -73.978302        40.748531           1
9998           5.80        -73.983215        40.726414           1

     store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                     N         -73.974754         40.754093             2
1                     N         -73.978539         40.761909             1
2                     N         -73.990273         40.745438             1
3                     N         -73.971527         40.760330             1
4                     N         -73.982162         40.758999             2
...                 ...                ...               ...           ...
9994                  N         -73.973358         40.783638             2
9995                  N         -73.953758         40.779285             1
9996                  N         -73.903206         40.750546             2
9997                  N         -73.989166         40.762852             2
9998                  N         -73.924133         40.701645             1

      fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0            17.0    0.0      0.5        0.00           0.0
1             6.5    0.0      0.5        1.00           0.0
2             8.0    0.0      0.5        2.20           0.0
3            13.5    0.0      0.5        2.86           0.0
4             9.5    0.0      0.5        0.00           0.0
...           ...    ...      ...         ...           ...
9994         11.0    0.5      0.5        0.00           0.0
9995         16.0    0.5      0.5        3.00           0.0
9996         21.0    0.5      0.5        0.00           0.0
9997          6.5    0.5      0.5        0.00           0.0
9998         21.0    0.5      0.5        4.45           0.0

      improvement_surcharge  total_amount
0                       0.3         17.80
1                       0.3          8.30
2                       0.3         11.00
3                       0.3         17.16
4                       0.3         10.30
...                     ...           ...
9994                    0.3         12.30
9995                    0.3         20.30
9996                    0.3         22.30
9997                    0.3          7.80
9998                    0.3         26.75

[9999 rows x 19 columns]>

In [165]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [163]:
df.describe('trip_distance')

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'

In [166]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [168]:
df[('passenger_count')].describe()

count    9999.000000
mean        1.659466
std         1.333306
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         6.000000
Name: passenger_count, dtype: float64

In [169]:
df[   ['passenger_count', 'trip_distance', 'total_amount']   ].describe()

       passenger_count  trip_distance  total_amount
count      9999.000000    9999.000000   9999.000000
mean          1.659466       3.158511     17.552472
std           1.333306       4.037516     15.137990
min           0.000000       0.000000     -7.800000
25%           1.000000       1.000000      8.800000
50%           1.000000       1.700000     12.800000
75%           2.000000       3.300000     19.800000
max           6.000000      64.600000    252.350000

In [174]:
df.loc[ df['trip_distance'] == 0  ,     # row selector
         'total_amount'].mean()         # column selector

31.581940298507465