In [1]:
print('shalom boker tov')

shalom boker tov

In [5]:
print('hello ' + 'maoz')

hello maoz

In [7]:
x = 100
print(x)

100

In [8]:
x

100

In [ ]:
x

In [20]:
name = input('enter your name')

if name == 'maoz':
    print('you are looking good today')
    print('hope you have a good day today')
else:
    print('have a good day sir')

enter your nameaaa
have a good day sir

In [21]:
print(f'how are you {name}, feeling good today?')

how are you aaa, feeling good today?

In [24]:
x=100

if x>200:
    print('wrong')
elif x>150:
    print('right')
elif x>200:
    print('correct')

In [32]:
word1=input('enter word1')
word2=input('enter word2')

if word1 < word2:
    print(f'{word1} comes before {word2}')
else:
    print(f'{word2} comes before {word1}')

enter word1dor
enter word2omer
dor comes before omer

In [40]:
name='maoz'
city='ramat gan'

name2=input('enter your name')
city2=input('enter your city')

if name==name2 and city==city2:
    print('you must be me')
elif name==name2 and city!=city2:
    print('nice name, bad city')
elif name!=name2 and city==city2:
    print('we live in the same city')
else:
    print('bad name and bad city')

enter your namelior
enter your cityyavne
bad name and bad city

In [43]:
secret=1981

In [56]:
secret

1981


guess=input('enter a guess')
guess=int(guess)
if guess > secret:
    print('too high')
elif guess < secret:
    print('too low')
else:
    print('just right')

In [78]:
word=input('enter a word: ')

if word[0] == 'a' or word[0] =='e':
    print('good')
else:
    print('bad')

enter a word: any
good

In [98]:
secret=100

guess=input('please enter a guess: ')

if guess.isdigit():
    guess=int(guess)
    
    if secret==guess:
        print('you got it')
    elif guess > secret:
        print('too high')
    else:
        print('too low')
else:
    print('please enter numbers only')

please enter a guess: 200
too high

In [ ]:
שיעור 2 !!!

In [102]:
digits=0
vowels=0
others=0

text=input('enter text: '.strip())

for one_character in text:
    if one_character in 'aeiou':
        vowels+=1
    elif one_character.isdigit():
        digits+=1
    else:
        others+=1
print(f'digits={digits}')
print(f'vowels={vowels}')
print(f'others={others}')

enter text:154dd99aa
digits=5
vowels=2
others=2

In [106]:
vowels=[]
digits=[]
others=[]

while True 
    text=input(f'please enter text: ').strip

    if text=='':
        break
    for one_character in text:
    
    


        vowels.append(text)
 elif text.isdigit:
        digits.append(text)
    else:
        others.append('ENTER')

IndentationError: unindent does not match any outer indentation level (<string>, line 11)

In [119]:
sentence=input(f'please enter sentence: ').strip
output=[]
for word in sentence.split():
    if word[0] in 'aeiou'
        output.append(word+'way')

SyntaxError: expected ':' (360501405.py, line 3)

In [ ]:

menu = {'sandwich':10,'tea':5,'apple':1,'cake':8}

total=0

while True:
    order = input(f'please enter order: ').strip()
  
    if order =='  ':
        break 
        
    if order in menu:
        price=menu[order]
        total+=price
        print(f'{order} is {price}, total is now {total}')
    else:
        print(f' we are out of {order} today!')
print(f'total is {total}')

please enter order: tea
tea is 5, total is now 5
please enter order: cake
cake is 8, total is now 13
please enter order: orange
 we are out of orange today!
please enter order:
 we are out of  today!

In [ ]:
rainful = {}
while True:
    city = input(f'please enter city: ').strip()
    if city=='':
        break
    rain=input(f'please enter raim: ').strip()
    rain-int(rain)
    
    if city in rainful:

In [ ]:
num_lines=0
num_characters=0
num_words=0

file_name=input(f'please enter file name: ').strip()
f=open(file_name)

wc

In [ ]:
import random

In [ ]:
random.randit(0,100)

In [ ]:
import panda as pd

In [8]:
from pandas import Series, DataFrame

In [9]:
s=Series([10, 20, 30, 40, 50, 60, 70])

In [10]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [7]:
t=pd.Series([100,200,300])

NameError: name 'pd' is not defined

In [11]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [30]:
highs = Series([28,31,33,29,30,35,34,27,26,25],
          index=('01 02 03 04 05 06 07 08 09 10').split())
highs

01    28
02    31
03    33
04    29
05    30
06    35
07    34
08    27
09    26
10    25
dtype: int64

In [19]:
lows = Series([13,11,12,14,15,17,19,20,21,13],
          index=[11,12,13,14,15,16,17,18,19,20])
lows

11    13
12    11
13    12
14    14
15    15
16    17
17    19
18    20
19    21
20    13
dtype: int64

In [22]:
highs-lows

11    15
12    20
13    21
14    15
15    15
16    18
17    15
18     7
19     5
20    12
dtype: int64

In [24]:
diffs=highs-lows

In [25]:
diffs.loc['05':'09'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
dtype: float64

In [39]:
family = Series([15,39,43,46,75,80],
              index='tali aviad maoz sharon helit izzy'.split())

In [35]:
family

tali      38
aviad     39
maoz      43
sharon    46
helit     75
izzy      80
dtype: int64

In [36]:
family.loc[ family > s.mean()  ]

maoz      43
sharon    46
helit     75
izzy      80
dtype: int64

In [38]:
family < family.std()

tali      False
aviad     False
maoz      False
sharon    False
helit     False
izzy      False
dtype: bool

In [40]:
family

tali      15
aviad     39
maoz      43
sharon    46
helit     75
izzy      80
dtype: int64

In [42]:
family < family.std()

tali       True
aviad     False
maoz      False
sharon    False
helit     False
izzy      False
dtype: bool

In [44]:
highs=Series([10,20,30,40,50])
highs

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [57]:
F=Series((highs-32)*5//9)

In [53]:
F

0   -12.1
1    -6.6
2    -1.1
3     4.4
4     9.9
dtype: float64

In [77]:
import numpy as np

0   -13
1    -7
2    -2
3     4
4    10
dtype: int64

In [61]:
highs=Series([10,20,30,40,50,60,70,80,90,100])
highs

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [62]:
highs

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [81]:
highs[5:7]=np.nan

highs

0     10
1     20
2     30
3     40
4     50
5    NaN
6    NaN
7     80
8     90
9    100
dtype: object

0     10
1     20
2     30
3     40
4     50
5    NaN
6    NaN
7     80
8     90
9    100
dtype: object

In [83]:
highs.mean()

52.5

In [95]:
highs = Series([28,31,33,29,30,35,34,27,26,25],
          index=('02 03 04 05 06 07 08 09 10 11').split())
highs

02    28
03    31
04    33
05    29
06    30
07    35
08    34
09    27
10    26
11    25
dtype: int64

In [96]:
highs.nlargest(3)

07    35
08    34
04    33
dtype: int64

In [112]:
highs.sort_values(ascending=False).head(3)

07    35
08    34
04    33
dtype: int64

In [113]:
!ls *.csv

burrito_current.csv	   languages.csv  titanic3.csv
celebrity_deaths_2016.csv  taxi.csv

In [114]:

!head taxi.csv

In [124]:
import pandas as pd
df = pd.read_csv('taxi.csv')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [126]:
df[['passenger_count','trip_distance','total_amount']].describe()

       passenger_count  trip_distance  total_amount
count      9999.000000    9999.000000   9999.000000
mean          1.659466       3.158511     17.552472
std           1.333306       4.037516     15.137990
min           0.000000       0.000000     -7.800000
25%           1.000000       1.000000      8.800000
50%           1.000000       1.700000     12.800000
75%           2.000000       3.300000     19.800000
max           6.000000      64.600000    252.350000

In [131]:
from pandas import Series

In [132]:
S=Series('this is a bunch of words for my course'.split())

In [134]:
S

0      this
1        is
2         a
3     bunch
4        of
5     words
6       for
7        my
8    course
dtype: object

In [137]:
from pandas import Datafram

ImportError: cannot import name 'Datafram' from 'pandas' (/usr/lib/python3/dist-packages/pandas/__init__.py)

In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('taxi.csv')

In [141]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [143]:

df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30

In [144]:
from pandas import Series, DataFrame