In [1]:
print('shalom boker tov')

shalom boker tov

In [5]:
print('hello ' + 'maoz')

hello maoz

In [7]:
x = 100
print(x)

100

In [8]:
x

100

In [ ]:
x

In [20]:
name = input('enter your name')

if name == 'maoz':
    print('you are looking good today')
    print('hope you have a good day today')
else:
    print('have a good day sir')

enter your nameaaa
have a good day sir

In [21]:
print(f'how are you {name}, feeling good today?')

how are you aaa, feeling good today?

In [24]:
x=100

if x>200:
    print('wrong')
elif x>150:
    print('right')
elif x>200:
    print('correct')

In [32]:
word1=input('enter word1')
word2=input('enter word2')

if word1 < word2:
    print(f'{word1} comes before {word2}')
else:
    print(f'{word2} comes before {word1}')

enter word1dor
enter word2omer
dor comes before omer

In [40]:
name='maoz'
city='ramat gan'

name2=input('enter your name')
city2=input('enter your city')

if name==name2 and city==city2:
    print('you must be me')
elif name==name2 and city!=city2:
    print('nice name, bad city')
elif name!=name2 and city==city2:
    print('we live in the same city')
else:
    print('bad name and bad city')

enter your namelior
enter your cityyavne
bad name and bad city

In [43]:
secret=1981

In [56]:
secret

1981


guess=input('enter a guess')
guess=int(guess)
if guess > secret:
    print('too high')
elif guess < secret:
    print('too low')
else:
    print('just right')

In [78]:
word=input('enter a word: ')

if word[0] == 'a' or word[0] =='e':
    print('good')
else:
    print('bad')

enter a word: any
good

In [98]:
secret=100

guess=input('please enter a guess: ')

if guess.isdigit():
    guess=int(guess)
    
    if secret==guess:
        print('you got it')
    elif guess > secret:
        print('too high')
    else:
        print('too low')
else:
    print('please enter numbers only')

please enter a guess: 200
too high

In [ ]:
שיעור 2 !!!

In [102]:
digits=0
vowels=0
others=0

text=input('enter text: '.strip())

for one_character in text:
    if one_character in 'aeiou':
        vowels+=1
    elif one_character.isdigit():
        digits+=1
    else:
        others+=1
print(f'digits={digits}')
print(f'vowels={vowels}')
print(f'others={others}')

enter text:154dd99aa
digits=5
vowels=2
others=2

In [106]:
vowels=[]
digits=[]
others=[]

while True 
    text=input(f'please enter text: ').strip

    if text=='':
        break
    for one_character in text:
    
    


        vowels.append(text)
 elif text.isdigit:
        digits.append(text)
    else:
        others.append('ENTER')

IndentationError: unindent does not match any outer indentation level (<string>, line 11)

In [119]:
sentence=input(f'please enter sentence: ').strip
output=[]
for word in sentence.split():
    if word[0] in 'aeiou'
        output.append(word+'way')

SyntaxError: expected ':' (360501405.py, line 3)

In [ ]:

menu = {'sandwich':10,'tea':5,'apple':1,'cake':8}

total=0

while True:
    order = input(f'please enter order: ').strip()
  
    if order =='  ':
        break 
        
    if order in menu:
        price=menu[order]
        total+=price
        print(f'{order} is {price}, total is now {total}')
    else:
        print(f' we are out of {order} today!')
print(f'total is {total}')

please enter order: tea
tea is 5, total is now 5
please enter order: cake
cake is 8, total is now 13
please enter order: orange
 we are out of orange today!
please enter order:
 we are out of  today!

In [ ]:
rainful = {}
while True:
    city = input(f'please enter city: ').strip()
    if city=='':
        break
    rain=input(f'please enter raim: ').strip()
    rain-int(rain)
    
    if city in rainful:

In [ ]:
num_lines=0
num_characters=0
num_words=0

file_name=input(f'please enter file name: ').strip()
f=open(file_name)

wc

In [ ]:
import random

In [ ]:
random.randit(0,100)

In [ ]:
import panda as pd

In [8]:
from pandas import Series, DataFrame

In [9]:
s=Series([10, 20, 30, 40, 50, 60, 70])

In [10]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [7]:
t=pd.Series([100,200,300])

NameError: name 'pd' is not defined

In [11]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [30]:
highs = Series([28,31,33,29,30,35,34,27,26,25],
          index=('01 02 03 04 05 06 07 08 09 10').split())
highs

01    28
02    31
03    33
04    29
05    30
06    35
07    34
08    27
09    26
10    25
dtype: int64

In [19]:
lows = Series([13,11,12,14,15,17,19,20,21,13],
          index=[11,12,13,14,15,16,17,18,19,20])
lows

11    13
12    11
13    12
14    14
15    15
16    17
17    19
18    20
19    21
20    13
dtype: int64

In [22]:
highs-lows

11    15
12    20
13    21
14    15
15    15
16    18
17    15
18     7
19     5
20    12
dtype: int64

In [24]:
diffs=highs-lows

In [25]:
diffs.loc['05':'09'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
dtype: float64

In [39]:
family = Series([15,39,43,46,75,80],
              index='tali aviad maoz sharon helit izzy'.split())

In [35]:
family

tali      38
aviad     39
maoz      43
sharon    46
helit     75
izzy      80
dtype: int64

In [36]:
family.loc[ family > s.mean()  ]

maoz      43
sharon    46
helit     75
izzy      80
dtype: int64

In [38]:
family < family.std()

tali      False
aviad     False
maoz      False
sharon    False
helit     False
izzy      False
dtype: bool

In [40]:
family

tali      15
aviad     39
maoz      43
sharon    46
helit     75
izzy      80
dtype: int64

In [42]:
family < family.std()

tali       True
aviad     False
maoz      False
sharon    False
helit     False
izzy      False
dtype: bool

In [44]:
highs=Series([10,20,30,40,50])
highs

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [45]:
F=Series(highs-32)
F

0   -22
1   -12
2    -2
3     8
4    18
dtype: int64