In [1]:
print('hello Mark')

hello Mark

In [3]:
name = input ('Enter your mame: ')

Enter your mame: Mark

In [4]:
city = input ('Enter your city: ')

Enter your city: Jerusalem

In [8]:
print (name + ' from ' +city)

Mark from Jerusalem

In [15]:
word1 = input('Enter word 1: ')
word2 = input('Enter word 2: ')
if word1 > word2:
    print(f'{word2} comes first')
elif word1==word2:
    print('the words are identical')
else:
    print(f'{word1} comes first')

Enter word 1: Dor
Enter word 2: Dor
the words are identical

In [23]:
name = input ('Enter your mame: ')
city = input ('Enter your city: ')
if name=='Mark' and city=='Jerusalem':
    print('You must be me')
elif name=='Mark' and city!='Jerusalem':
    print('Nice name bad city')
elif name!='Mark' and city=='Jerusalem':
    print('we live in the same city')
else:
    print('Bad name and bad cisy')

Enter your mame: Dor
Enter your city: ta
Bad name and bad cisy

In [50]:
secret = 139
guess = input('Enter your guess: ')
guess = int(guess)

if guess==secret:
    print('Just right')
elif guess > secret:
    print('too high')
else:
    print('too low')

Enter your guess: 139
Just right

In [33]:
round(0.1+0.2,10)==0.3

True

In [37]:
round(12.991111,4)

12.9911

In [40]:
word =input('Enter your word: ')
if word[0] in 'aieou':
    print (word + 'way')
else:
    print (word[1:] + word[0] + 'ay')

Enter your word: david
avidday

In [ ]:
secret = 139
guess = input('Enter your guess: ').strip()
if guess.isdigit():
    guess = int(guess)

    if guess==secret:
        print('Just right')
    elif guess > secret:
        print('too high')
    else:
        print('too low')
else:
    print(f'{guess} is not numeric')

In [55]:
vowels=0
digits=0
others=0
text = input('Enter your text: ').strip()
for one_character in text:
    if one_character.isdigit():
        digits+=1
    elif one_character in 'aeiou':
        vowels+=1
    else: others+=1
print(f'digits = {digits}')
print(f'vowels = {vowels}')
print(f'others = {others}')

Enter your text: oai123tr%
digits = 3
vowels = 3
others = 3

In [56]:
# Initialize empty lists
vowels = []
digits = []
others = []

# Define the set of vowels for quick lookup
vowel_set = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}

while True:
    # Ask the user for input
    text = input("Enter text: ")

    # Exit if an empty string is entered
    if text == "":
        break

    # Iterate over each character in the input text
    for char in text:
        if char in vowel_set: # Check if the character is a vowel
            vowels.append(char)
        elif char.isdigit(): # Check if the character is a digit
            digits.append(char)
        else: # Any other character
            others.append(char)

# Print the results
print("vowels:", vowels)
print("digits:", digits)
print("others:", others)

Enter text: skdjhj123
Enter text: skdjhekrg87
Enter text:
vowels: ['e']
digits: ['1', '2', '3', '8', '7']
others: ['s', 'k', 'd', 'j', 'h', 'j', 's', 'k', 'd', 'j', 'h', 'k', 'r', 'g']

In [ ]:
menu = {'sandwich': 10, 'tea': 5,'coffee': 7,'salad': 8, 'soup': 6}

total = 0

while True:
    
    order = input("Order: ").strip()
    
       if order == "":
        break
    
    
    if order in menu:
       
        total += menu[order]
       
        print(f"{order} is {menu[order]}, total is {total}")
    else:
       
        print(f"Sorry, we're all out of {order} today!")


print(f"Total is {total}")

In [ ]:
# Define the menu dictionary with items and their prices
menu = {
    "sandwich": 10,
    "tea": 5,
    "coffee": 7,
    "salad": 8,
    "soup": 6
}

# Initialize the total to 0
total = 0

# Start an infinite loop to take orders
while True:
    # Ask the user what they want to order
    order = input("Order: ").strip()
    
    # If the user presses ENTER (empty input), break the loop
    if order == "":
        break
    
    # Check if the order is in the menu
    if order in menu:
        # Add the price of the item to the total
        total += menu[order]
        # Print the item, its price, and the new total
        print(f"{order} is {menu[order]}, total is {total}")
    else:
        # Inform the user that the item is not available
        print(f"Sorry, we're all out of {order} today!")

# Print the final total
print(f"Total is {total}")

In [62]:
rainfall = {}

while True:
    city = input("City: ").strip()
        
    if city == "":
        break
    

    rain = int(input("Rain: ").strip())
      
    
    if city in rainfall:
        
        rainfall[city] += rain
    else:
        rainfall[city] = rain

for city, total_rain in rainfall.items():
    print(f"{city}: {total_rain}")

City: TA
Rain: 7
City: Jerusalem
Rain: 4
City: TA
Rain: 10
City: Haifa
Rain: 45
City: Haifa
Rain: 250
City:
TA: 17
Jerusalem: 4
Haifa: 295

In [65]:
num_lines = 0
num_chars = 0
num_words = 0

filename = input("Enter the filename: ").strip()

if filename == "":
    filename = "wc.file.txt"

f=open(filename)
for line in f:
            num_lines += 1
            num_chars += len(line)
            num_words += len(line.split())
print(f"Lines: {num_lines}")
print(f"Characters: {num_chars}")
print(f"Words: {num_words}")

Enter the filename: wc.file.txt

FileNotFoundError: [Errno 2] No such file or directory: 'wc.file.txt'

In [72]:
import random
random_number = random.randint(1, 100)
print(random_number)

77

In [73]:
random.randint(1,10)

9

In [76]:
random.randint(1,100)

193

In [90]:
from random import randint

target_number = randint(1, 10)

while True:
    s = input("guess: ").strip()
    
    if not guess.isnumeric():
        print("{s} is not numeric; try again.")
    
    
if guess == target_number:
    print("You got it!")
    break
elif guess < target_number:
    print("Too low. Try again.")
else:
    print("Too high. Try again.")

guess: 3

AttributeError: 'int' object has no attribute 'isnumeric'

In [1]:
import random
random.randint(1,100)

90

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [4]:
import pandas as pd


temperatures = pd.Series([22, 25, 20, 23, 24, 26, 27, 28, 21, 22])


descriptive_stats = temperatures.describe()
print("Descriptive Statistics:")
print(descriptive_stats)


max_5 = temperatures[:5].max()
print("\nMax temperature for the first 5 days:", max_5)

Descriptive Statistics:
count    10.00000
mean     23.80000
std       2.65832
min      20.00000
25%      22.00000
50%      23.50000
75%      25.75000
max      28.00000
dtype: float64

Max temperature for the first 5 days: 25

In [9]:
import pandas as pd
highs = pd.Series([22, 25, 20, 23, 24, 26, 27, 28, 21, 22],
                  index=['01.12', '02.12', '03.12', '04.12', '05.12', '06.12', '07.12', '08.12', '09.12', '10.12'])
lows = pd.Series([15, 17, 14, 16, 18, 19, 20, 21, 16, 17],
                 index=['01.12', '02.12', '03.12', '04.12', '05.12', '06.12', '07.12', '08.12', '09.12', '10.12'])
diffs = highs - lows
diffs_example = diffs.loc['01.12':'05.12']
describe_first_5_days = diffs[:5].describe()

print("High temperatures:")
print(highs)
print("\nLow temperatures:")
print(lows)
print("\nDifferences between highs and lows:")
print(diffs)
print("\nDifferences for 01.12 - 05.12:")
print(diffs_example)
print("\nDescriptive statistics for the first 5 days in diffs:")
print(describe_first_5_days)

High temperatures:
01.12    22
02.12    25
03.12    20
04.12    23
05.12    24
06.12    26
07.12    27
08.12    28
09.12    21
10.12    22
dtype: int64

Low temperatures:
01.12    15
02.12    17
03.12    14
04.12    16
05.12    18
06.12    19
07.12    20
08.12    21
09.12    16
10.12    17
dtype: int64

Differences between highs and lows:
01.12    7
02.12    8
03.12    6
04.12    7
05.12    6
06.12    7
07.12    7
08.12    7
09.12    5
10.12    5
dtype: int64

Differences for 01.12 - 05.12:
01.12    7
02.12    8
03.12    6
04.12    7
05.12    6
dtype: int64

Descriptive statistics for the first 5 days in diffs:
count    5.00000
mean     6.80000
std      0.83666
min      6.00000
25%      6.00000
50%      7.00000
75%      7.00000
max      8.00000
dtype: float64

In [13]:
import pandas as pd
family_ages = pd.Series([30, 25, 35, 40, 20],
    index= ['Alice','Bob','Charlie','David','Eve'])
mean_age = family_ages.mean()
above_mean = family_ages[family_ages > mean_age]
std_dev = family_ages.std()
one_std_below_mean = mean_age - std_dev
below_one_std = family_ages[family_ages <= one_std_below_mean]
print("Family ages:")
print(family_ages)
print("\nMean age:", mean_age)
print("\nFamily members whose ages are above the mean:")
print(above_mean)
print("\nStandard deviation of ages:", std_dev)
print("\nFamily members whose ages are 1 standard deviation below the mean:")
print(below_one_std)

Family ages:
Alice      30
Bob        25
Charlie    35
David      40
Eve        20
dtype: int64

Mean age: 30.0

Family members whose ages are above the mean:
Charlie    35
David      40
dtype: int64

Standard deviation of ages: 7.905694150420948

Family members whose ages are 1 standard deviation below the mean:
Eve    20
dtype: int64

In [15]:
import pandas as pd
highs_celsius = pd.Series([22, 25, 20, 23, 24, 26, 27, 28, 21, 22],
    index=['01.12', '02.12', '03.12', '04.12', '05.12', '06.12', '07.12', '08.12', '09.12', '10.12'])
highs_fahrenheit = highs_celsius * 9/5 + 32
highs_fahrenheit_int = highs_fahrenheit.astype(int)
print("High temperatures in Celsius:")
print(highs_celsius)
print("\nHigh temperatures in Fahrenheit (floats):")
print(highs_fahrenheit)
print("\nHigh temperatures in Fahrenheit (integers):")
print(highs_fahrenheit_int)
print("\nData type of the integer series:", highs_fahrenheit_int.dtype)

High temperatures in Celsius:
01.12    22
02.12    25
03.12    20
04.12    23
05.12    24
06.12    26
07.12    27
08.12    28
09.12    21
10.12    22
dtype: int64

High temperatures in Fahrenheit (floats):
01.12    71.6
02.12    77.0
03.12    68.0
04.12    73.4
05.12    75.2
06.12    78.8
07.12    80.6
08.12    82.4
09.12    69.8
10.12    71.6
dtype: float64

High temperatures in Fahrenheit (integers):
01.12    71
02.12    77
03.12    68
04.12    73
05.12    75
06.12    78
07.12    80
08.12    82
09.12    69
10.12    71
dtype: int64

Data type of the integer series: int64

In [22]:
import pandas as pd
s = pd.Series([22, 25, 20, 23, 24, 26, 27, 20, 21, 22],
    index=['01.12', '02.12', '03.12', '04.12', '05.12', '06.12', '07.12', '08.12', '09.12', '10.12'])
s.sort_values(ascending=False).head(3)

07.12    27
06.12    26
02.12    25
dtype: int64

In [23]:
import pandas as pd
s = pd.Series([22, 25, 20, 23, 24, 26, 27, 20, 21, 22],
    index=['01.12', '02.12', '03.12', '04.12', '05.12', '06.12', '07.12', '08.12', '09.12', '10.12'])
s.nlargest(3)

07.12    27
06.12    26
02.12    25
dtype: int64

In [28]:
import pandas as pd
s = pd.Series([22, 25, 20, 23, 24, 26, 27, 20, 21, 22],
    index=['01.12', '02.12', '03.12', '04.12', '05.12', '06.12', '07.12', '08.12', '09.12', '10.12'])
(
s
.loc['04.12','08.12']
.nsmallest(3)
)

IndexingError: Too many indexers

In [29]:
!head taxi.csv

In [30]:
df = pd.read_csv('taxi.csv')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [33]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000