In [1]:
print('Hello Merav')

Hello Merav

In [2]:
x=100
print (x)

100

In [3]:
print ('x')

x

In [4]:
x+5

105

In [6]:
name= input('Enter your name: ')

Enter your name: Merav

In [7]:
city = input ('Enter your city: ')

Enter your city: Jerusalem

In [13]:
print ('Hello, ' + name + ', from ' + city+ '!')

Hello, Merav, from Jerusalem!

In [14]:
print(f'Hello, {name}, from {city}!')

Hello, Merav, from Jerusalem!

In [ ]:
name = input('Enter your name')

In [17]:
name = input ('Enter your name: ')

if name == 'Merav':
    print('Hello you, good morning')
else:
    print(f'Hello {name}, good morning')

Enter your name: Merav
Hello you, good morning

In [29]:
name = input('Enter your name: ')
city = input('Enter your city: ')

if name == "Merav" and city == "Jerusalem":
    print ('You must be me')
elif name == "Merav" and city != "jerusalem":
    print ('Nice name, bad city')
elif name != "Merav" and city == "Jerusalem":
    print ('We live in the same city')
else:
    print ('Bad name and bad city')

Enter your name: Merav
Enter your city: Jerusalem
You must be me

In [39]:
x=100
secret=100
guess = input ('enter a guess: ')
guess = int (guess)

if guess < secret:
    print ('too low')
elif guess > secret:
    print ('too high')
else:
    print ('just right')

enter a guess: 100
just right

In [59]:
word = input('Enter a word:')

if word[0] in 'aeiou':
    print (word + 'way')
else:
    print (word[1:] + word[0] +'ay')

Enter a word:elephant
elephantway

In [72]:

secret=100
n = input ('Enter a guess: ')

               
if n.isdigit():
    n=int(n)
else:
    print('guess is not numeric')

Enter a guess: hi
guess is not numeric

In [ ]:
digits = 0
vowels = 0
others = 0

text = input('Enter text: ').strip()

for one_character in text:
    if one_character in 'aeiou':    # if it's a vowel
        vowels += 1                 #    add 1 to vowels
    elif one_character.isdigit():   # if it's a digit
        digits += 1                 #    add 1 to digits
    else:
        others += 1                 # otherwise, add 1 to others
        
print(f'digits = {digits}')        
print(f'vowels = {vowels}')
print(f'others = {others}')

In [78]:
x=5
while x>0:
    print(x)
    x-=1

5
4
3
2
1

In [ ]:
menu = {'milk':10, 'bread':20, 'chicken':40}
total=0
while True:
    Order = input('Enter order: ').strip()
    
    if order==' ':
    break

    if order in menu:
        price=menu[order]  
        total+=price
        print(f'{order}is{price}, total is now{total}')
    else:
        print(f'Sorry, we're all out of {order} today!')
        
    print (f'Total is{total}')

In [84]:
menu = {'milk':10, 'bread':20, 'chicken':40}
total=0
while True:
    order = input('Enter order: ').strip()
    
    if order=='':
        break

    if order in menu:
        total=menu[order]  
       
        print(f'{order}is{menu[order]}, total is now{total}')
    else:
        print(f'Sorry, we are all out of {order} today!')
        
    print (f'Total is{total}')

Enter order: bread
breadis20, total is now20
Total is20
Enter order: chi
Sorry, we are all out of chi today!
Total is20
Enter order: milk
milkis10, total is now10
Total is10

KeyboardInterrupt: Interrupted by user

In [90]:
rainfall={}
while True:
    City_name = input('Enter City Name: ').strip()
    
    if City_name ==' ':
        break

    rain = input('Enter How much rain fell: ').strip()
    rain = int(rain)
   
    if City_name in rainfall:
        rainfall[City_name] += rain
    else:
        rainfall[City_name] = rain

Enter City Name: Jerusalem
Enter How much rain fell: 35
Enter City Name: Tel aviv
Enter How much rain fell: 50
Enter City Name: Jerusalem
Enter How much rain fell: 15

KeyboardInterrupt: Interrupted by user

In [95]:
counts={'lines':0, 'characters':0, 'words':0}

for one_line in open('wcfile.txt'):
    counts['lines']+=1
    counts['characters']+=len(one_line)
    counts['words']+= len(one_line.split())
        
for key, value in counts.items():
        print(f'{key}:{value}')

lines:11
characters:165
words:28

In [ ]:
from random import randint

secret=randint(0,100)
print(f'Shhh... number is {secret}')

while True:
    guess = input ('enter a guess from 1-100: ')
guess = int (guess)

if guess < secret:
    print ('too low. Try again')
elif guess > secret:
    print ('too high. Try again')
elif guess is not int:
    print ('Not numeric. Try again')
else:
    print ('you got it!')

Shhh... number is 68
enter a guess from 1-100: 40
enter a guess from 1-100: 50

In [3]:
import random

In [4]:
random.randint(0, 100)

55

In [6]:
import pandas as pd

In [8]:
from pandas import Series, DataFrame

In [9]:
s=Series([10,20,30,40,50,60,70])

In [10]:
s[0]

10

In [11]:
s[2:5]

2    30
3    40
4    50
dtype: int64

In [12]:
s[3]=999

In [13]:
s

0     10
1     20
2     30
3    999
4     50
5     60
6     70
dtype: int64

In [14]:
s=Series([10,20,30,40,50,60,70])

In [15]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [16]:
s.min()

10

In [17]:
s.describe()

count     7.000000
mean     40.000000
std      21.602469
min      10.000000
25%      25.000000
50%      40.000000
75%      55.000000
max      70.000000
dtype: float64

In [18]:
s=Series([35,37,39,28,29,33,37,40,23,25])
s

0    35
1    37
2    39
3    28
4    29
5    33
6    37
7    40
8    23
9    25
dtype: int64

In [19]:
s.describe()

count    10.000000
mean     32.600000
std       6.003703
min      23.000000
25%      28.250000
50%      34.000000
75%      37.000000
max      40.000000
dtype: float64

In [22]:
s[0:5]

0    35
1    37
2    39
3    28
4    29
dtype: int64

In [23]:
s[0:5].max()

39

In [24]:
s=Series ([10,20,30,40,50])

In [25]:
s+s

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [26]:
s+3

0    13
1    23
2    33
3    43
4    53
dtype: int64

In [27]:
s.loc[0]

10

In [28]:
s.loc[1]

20

In [30]:
s.loc[[0,1]]

0    10
1    20
dtype: int64

In [51]:
highs=Series([28,29,33,25,27,36,23,34,27,33],
    index='01 02 03 04 05 06 07 08 09 10'.split())
lows=Series([25,26,30,21,22,30,19,28,21,29],
    index='01 02 03 04 05 06 07 08 09 10'.split())

In [53]:
highs-lows

01    3
02    3
03    3
04    4
05    5
06    6
07    4
08    6
09    6
10    4
dtype: int64

In [79]:
s=Series ([55, 54, 22, 19, 4],
    index = 'Ronen Merav Mika Shira Daniel'.split())
s

Ronen     55
Merav     54
Mika      22
Shira     19
Daniel     4
dtype: int64

In [81]:
s.loc[s>s.mean()]

Ronen    55
Merav    54
dtype: int64

In [85]:
highs=Series([28,29,33,25,27,36,23,34,27,33])
highs

0    28
1    29
2    33
3    25
4    27
5    36
6    23
7    34
8    27
9    33
dtype: int64

In [92]:
s=highs*9/5+32
s

0    82.4
1    84.2
2    91.4
3    77.0
4    80.6
5    96.8
6    73.4
7    93.2
8    80.6
9    91.4
dtype: float64

In [93]:
s.astype('int64')

0    82
1    84
2    91
3    77
4    80
5    96
6    73
7    93
8    80
9    91
dtype: int64

In [94]:
import numpy as np

In [105]:
highs=Series([28,29,np.NaN,25,27,36,np.NaN,34,27,np.NaN])
highs

0    28.0
1    29.0
2     NaN
3    25.0
4    27.0
5    36.0
6     NaN
7    34.0
8    27.0
9     NaN
dtype: float64

In [109]:
s.fillna(s.mean)

0    82.4
1    84.2
2    91.4
3    77.0
4    80.6
5    96.8
6    73.4
7    93.2
8    80.6
9    91.4
dtype: float64

In [106]:
s.fillna(s.max)

0    82.4
1    84.2
2    91.4
3    77.0
4    80.6
5    96.8
6    73.4
7    93.2
8    80.6
9    91.4
dtype: float64

In [112]:
s=Series([10,5,-20,7,4,11,-3],
        index=list('abcdefg'))
s

a    10
b     5
c   -20
d     7
e     4
f    11
g    -3
dtype: int64

In [118]:
s.sort_values()

c   -20
g    -3
e     4
b     5
d     7
a    10
f    11
dtype: int64

In [119]:
s.sort_index()

a    10
b     5
c   -20
d     7
e     4
f    11
g    -3
dtype: int64

In [120]:
highs=Series([28,29,33,25,27,36,23,34,27,33],
    index='01 02 03 04 05 06 07 08 09 10'.split())
highs

01    28
02    29
03    33
04    25
05    27
06    36
07    23
08    34
09    27
10    33
dtype: int64

In [139]:
highs.sort_values(ascending=False).head(3)

06    36
08    34
03    33
dtype: int64

In [122]:
highs.nlargest(3)

06    36
08    34
03    33
dtype: int64

In [143]:
(
    highs
    .loc['04':'08']
    .sort_values()
    .head(3)
)

07    23
04    25
05    27
dtype: int64

In [144]:
!ls *.csv

burrito_current.csv	   languages.csv  titanic3.csv
celebrity_deaths_2016.csv  taxi.csv

In [145]:
!head taxi.csv

In [146]:
df = pd.read_csv('taxi.csv')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [160]:
df[['passenger_count', 'trip_distance', 'total_amount']].describe()

       passenger_count  trip_distance  total_amount
count      9999.000000    9999.000000   9999.000000
mean          1.659466       3.158511     17.552472
std           1.333306       4.037516     15.137990
min           0.000000       0.000000     -7.800000
25%           1.000000       1.000000      8.800000
50%           1.000000       1.700000     12.800000
75%           2.000000       3.300000     19.800000
max           6.000000      64.600000    252.350000

In [161]:
!ls *.csv

burrito_current.csv	   languages.csv  titanic3.csv
celebrity_deaths_2016.csv  taxi.csv