# https://python.lerner.co.il

Password: boipw!!

# Agenda

1. Loops
2. List
3. Dictionary
4. Files
5. Modules

In [1]:
s = 'abcd'

print(s[0])
print(s[1])
print(s[2])
print(s[3])

a
b
c
d

# Loops

1. `for` loops
2. `while` loops

In [2]:
s = 'abcd'

for one_character in s:
    print(one_character)

a
b
c
d

In [3]:
s = 'abcd'

for one_character in s[2:]:
    print(one_character)

c
d

In [4]:
for counter in 3:
    print('Hooray')

TypeError: 'int' object is not iterable

In [5]:
for counter in range(3):    # use range(n) for n iterations
    print('Hooray')

Hooray
Hooray
Hooray

In [6]:
for counter in range(3):    # range(3) gives me 0, 1, 2
    print(f'{counter} Hooray')

0 Hooray
1 Hooray
2 Hooray

In [7]:
# to end a loop early, use break
# if we've achieved our goal early

for counter in range(10):
    if counter == 5:
        break
    print(counter)

0
1
2
3
4

In [10]:
# to end the current iteration early, use continue
# if there's no reason to continue with the current one

for counter in range(10):
    if counter == 5:
        continue    # go onto the next iteration
    print(counter)

0
1
2
3
4
6
7
8
9

In [11]:
s = 'abcdefghijklmnopqrstuvwxyz'

to_find = 'j'

for one_character in s:
    if one_character == to_find:
        print(f'Found {to_find}! Exiting')
        break
    print(f'Looking for {to_find}.... found {one_character}')

Looking for j.... found a
Looking for j.... found b
Looking for j.... found c
Looking for j.... found d
Looking for j.... found e
Looking for j.... found f
Looking for j.... found g
Looking for j.... found h
Looking for j.... found i
Found j! Exiting

In [12]:
s = 'abcdefghijklmnopqrstuvwxyz'

to_find = 'j'

for one_character in s:
    if one_character != to_find:
        continue
    print(f'Found {to_find}! Exiting')

Found j! Exiting

In [17]:
# s = 'abcdefghijklmnopqrstuvwxyz'
s = 'abcde'

to_find = 'jklmn'

for one_character in s:
    if one_character in to_find: 
        print(f'{one_character} is in {to_find}! Exiting')
        break

In [21]:
# add the digits in s

s = 'a1b2c34'
total = 0

for one_character in s:
    print(f'\tLooking at {one_character}')
    if one_character.isdigit():
        print(f'\t\tFound a digit, adding to total')
        total += int(one_character)
    
print(total)

	Looking at a
	Looking at 1
		Found a digit, adding to total
	Looking at b
	Looking at 2
		Found a digit, adding to total
	Looking at c
	Looking at 3
		Found a digit, adding to total
	Looking at 4
		Found a digit, adding to total
10

In [22]:
for one_item in range(5):   
    print(one_item)

0
1
2
3
4

DRY -- don't repeat yourself

In [24]:
s = 'abcdefghijklmnopqrstuvwxyz'

for one_letter in s[10:20]:
    print(one_letter)

k
l
m
n
o
p
q
r
s
t

In [25]:
for one_item in range(10, 20):
    print(one_item)

10
11
12
13
14
15
16
17
18
19

In [26]:
for one_item in range(10, 20, 3):
    print(one_item)

10
13
16
19

# Exercise: Digits, vowels, and others

1. Define `digits`, `vowels`, and `others` -- all to be 0
2. Ask the user to enter some text.
3. Go over the text, one character at a time:
    - if it's a digit, add 1 to `digits`
    - if it's a vowel (a, e, i, o, u), add 1 to `vowels`
    - otherwise, add 1 to `others`
4. Print the values of `digits`, `vowels`, and `others`

https://github.com/reuven/boi-autumn-2024|

In [27]:
digits = 0
vowels = 0
others = 0

text = input('Enter text: ').strip()

for one_character in text:
    if one_character in 'aeiou':    # if it's a vowel
        vowels += 1                 #    add 1 to vowels
    elif one_character.isdigit():   # if it's a digit
        digits += 1                 #    add 1 to digits
    else:
        others += 1                 # otherwise, add 1 to others
        
print(f'digits = {digits}')        
print(f'vowels = {vowels}')
print(f'others = {others}')

Enter text: hello !! 123
digits = 3
vowels = 2
others = 7

# `while`

`while` works just like `if`, except that we run the loop body until the test is `False`.

In [28]:
x = 5

while x > 0:
    print(x)
    x -= 1    # x = x - 1

5
4
3
2
1

In [29]:
total = 0

# ask the user to give us numbers until we reach 100

while total < 100:
    s = input('Enter a number: ').strip()

    if not s.isdigit():
        print(f'{s} is not a number; try again')
        continue

    total += int(s)
    print(f'\tCurrent total is {total}')
    
print(total)

Enter a number: 5
	Current total is 5
Enter a number: 20
	Current total is 25
Enter a number: asdvasdfad
asdvasdfad is not a number; try again
Enter a number: 30
	Current total is 55
Enter a number: 1
	Current total is 56
Enter a number: 1
	Current total is 57
Enter a number: 1
	Current total is 58
Enter a number: 1
	Current total is 59
Enter a number: 80
	Current total is 139
139

In [30]:
while True:   
    name = input('Enter your name: ').strip()
    
    if name == '':
        break
        
    print(f'Hello, {name}!')

Enter your name: Reuven
Hello, Reuven!
Enter your name: asdfafadfafd
Hello, asdfafadfafd!
Enter your name:

# List

We can store *anything* we want in a list. The items we enter stay in their original order. We can modify a list! (Lists are "mutable.")

We define a list with `[]`, with commas (`,`) between elements.

In [31]:
mylist = [10, 20, 30, 40, 50, 60, 70]

# get the length with len
len(mylist)

7

In [32]:
mylist[0]

10

In [33]:
mylist[1]

20

In [34]:
mylist[-1]

70

In [35]:
mylist[2:5]

[30, 40, 50]

In [36]:
for one_item in mylist:
    print(one_item)

10
20
30
40
50
60
70

In [37]:
40 in mylist

True

In [38]:
# lists can change!
# we can change an existing value

mylist[3] = '!!!'
mylist

[10, 20, 30, '!!!', 50, 60, 70]

In [39]:
# we can add new items to the list, using list.append
mylist.append(80)
mylist.append('hello')

mylist

[10, 20, 30, '!!!', 50, 60, 70, 80, 'hello']

In [40]:
# we can remove with list.pop, whose default is to remove from the end
mylist.pop()

'hello'

In [41]:
mylist

[10, 20, 30, '!!!', 50, 60, 70, 80]

In [42]:
mylist.pop()

80

In [43]:
mylist

[10, 20, 30, '!!!', 50, 60, 70]

In [44]:
x = 'abcde'
y = x

x = 'fghij'
y

'abcde'

In [45]:
x = [10, 20, 30]
y = x

x[1] = 9999
x

[10, 9999, 30]

In [46]:
y

[10, 9999, 30]

In [47]:
x = ['abc', 'defgh', 'ij']

for one_item in x:
    print(one_item.upper())

ABC
DEFGH
IJ

In [48]:
type(x)

list

In [49]:
odds = []
evens = []

numbers = [10, 15, 17, 20]

for one_number in numbers:
    if one_number % 2 == 1:
        odds.append(one_number)
    else:
        evens.append(one_number)
        
print(odds)        
print(evens)

[15, 17]
[10, 20]

In [50]:
mylist = ['hello', 'out', 'there']

'hello' in mylist

True

In [51]:
'h' in mylist

False

In [52]:
'h' in mylist[0]

True

In [53]:
for one_item in mylist:
    if 'h' in one_item:
        print(f'Found "h" in {one_item}')

Found "h" in hello
Found "h" in there

# Exercise: Vowels, digits, and others... list edition

1. Define three empty lists (`vowels`, `digits`, `others`).
2. Ask the user to enter text, again and again
    - If we get an empty string (presses ENTER alone), exit
3. Iterate over the text we got from the user, one character at a time
    - If we got a vowel, add it to `vowels`
    - If we got a digit, add it to `digits`
    - Otherwise, add to `others`
    
Example:

    Enter text: hello!
    Enter text: 123
    Enter text: [ENTER]
    vowels: ['e', 'o']
    digits: ['1', '2', '3']
    others: ['h', 'l', 'l', '!']

In [54]:
vowels = []
digits = []
others = []

while True:
    text = input('Enter text: ').strip()
    
    if text == '':
        break
        
    for one_character in text:
        if one_character in 'aeiou':
            vowels.append(one_character)
        elif one_character.isdigit():
            digits.append(one_character)
        else:
            others.append(one_character)
            
print(vowels)
print(digits)
print(others)

Enter text: hello out there
Enter text: this is 12345
Enter text: I'm done
Enter text:
['e', 'o', 'o', 'u', 'e', 'e', 'i', 'i', 'o', 'e']
['1', '2', '3', '4', '5']
['h', 'l', 'l', ' ', 't', ' ', 't', 'h', 'r', 't', 'h', 's', ' ', 's', ' ', 'I', "'", 'm', ' ', 'd', 'n']

In [55]:
s = '123'
int(s)

123

In [56]:
float(s)

123.0

In [58]:
list(s)   # we get a list of one-character strings

['1', '2', '3']

In [59]:
s = 'this is a bunch of words'
list(s)

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'b',
 'u',
 'n',
 'c',
 'h',
 ' ',
 'o',
 'f',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's']

In [61]:
# default of split is to work on whitespace

s.split()   # a string method that returns a list of strings

['this', 'is', 'a', 'bunch', 'of', 'words']

In [62]:
for one_item in s.split():
    print(one_item)

this
is
a
bunch
of
words

In [63]:
# what if I have a list of strings, and I want a new string?

words = s.split()
words

['this', 'is', 'a', 'bunch', 'of', 'words']

In [64]:
# we run str.join on the string we want between things

' '.join(words)

'this is a bunch of words'

In [65]:
'***'.join(words)

'this***is***a***bunch***of***words'

In [66]:
''.join(words)

'thisisabunchofwords'

# Exercise: Pig Latin sentence

1. Last time, we translated one word into Pig Latin.
2. This time, we'll get a sentence (just lowercase, no symbols/punctuation).
3. Translate each word into Pig Latin, and print on the screen.

Example:

    Enter text: this is a test
    histay isway away esttay

In [67]:
word = input('Enter word: ').strip()

if word[0] in 'aeiou':    # if the word starts with a vowel, add 'way'
    print(word + 'way')
else:
    print(word[1:] + word[0] + 'ay')   # otherwise, first letter to end, add 'ay'

Enter word: octopus
octopusway

In [68]:
s = 'this is a sentence'

for one_word in s:
    print(one_word)

t
h
i
s

i
s

a

s
e
n
t
e
n
c
e

In [69]:
sentence = input('Enter sentence: ').strip()

for word in sentence.split():
    if word[0] in 'aeiou':   
        print(word + 'way')
    else:
        print(word[1:] + word[0] + 'ay')

Enter sentence: this is a test
histay
isway
away
esttay

In [71]:
# one line output

sentence = input('Enter sentence: ').strip()
output = []

for word in sentence.split():
    if word[0] in 'aeiou':   
        output.append(word + 'way')
    else:
        output.append(word[1:] + word[0] + 'ay') 
        
print(' '.join(output))

Enter sentence: this is a test
histay isway away esttay

# Tuple

In [72]:
mylist = [10, 20, 30, 40, 50]   
type(mylist)

list

In [73]:
t = (10, 20, 30, 40, 50)
type(t)

tuple

In [74]:
t[0]

10

In [75]:
t[-1]

50

In [76]:
30 in t

True

In [77]:
for one_item in t:
    print(one_item)

10
20
30
40
50

In [78]:
t[0] = '!'

TypeError: 'tuple' object does not support item assignment

Python parentheses primer: https://lerner.co.il/2018/06/08/python-parentheses-primer/

# Dictionary

Also: Hash table, hashmap, hash, map, associate array, key-value store, name-value store

- Key (sort of like the index)
- Value

Some things to know:
- Keys can be any immutable type (e.g., int or str)
- Keys in a dict are unique
- Values can be anything at all
- Every key has a value, every value has a key

Define a dict with `{}`
- We put every key-value pair with `:` between them
- We put `,` between every pair

In [79]:
d = {'a':10, 'b':20, 'c':30}

In [80]:
len(d)

3

In [82]:
d['a']

10

In [83]:
d[1]

KeyError: 1

# Dict examples

1. ID numbers and people
2. Filenames and file info
3. IP address and computer info
4. Month numbers and names

In [84]:
d

{'a': 10, 'b': 20, 'c': 30}

In [85]:
d['a']

10

In [86]:
d['b']

20

In [87]:
d['c']

30

In [88]:
d['x']

KeyError: 'x'

In [89]:
'x' in d   # only checks in the keys!

False

In [90]:
d

{'a': 10, 'b': 20, 'c': 30}

In [91]:
10 in d

False

# Exercise: Restaurant

1. Define a dict, `menu`, where the keys are the menu items (strings) and the values will be integers.
2. Define `total` to be 0.
3. Ask the user, repeatedly, what they want to order
    - If they press `ENTER`, stop asking and print the total
4. If they enter something:
    - If the string is a key in our `menu` dict, print the item, its price, and the new total (after adding to it)
    - If the string is *NOT* in the `menu` dict, tell the user
5. Print `total`

Example:

    Order: sandwich
    sandwich is 10, total is 10
    Order: tea
    tea is 5, total is 15
    Order: elephant
    Sorry, we're all out of elephant today!
    Order: [ENTER]
    total is 15

In [92]:
menu = {'sandwich':10, 
        'tea':5,
       'apple':1,
       'cake':8}
total = 0

while True:
    order = input('Enter order: ').strip()
    
    if order == '':
        break
        
    if order in menu:
        price = menu[order]
        total += price
        print(f'{order} is {price}, total is now {total}')
    else:
        print(f'We are out of {order} today!')
        
print(f'Total is {total}')

Enter order: sandwich
sandwich is 10, total is now 10
Enter order: tea
tea is 5, total is now 15
Enter order: asdfafafdfs
We are out of asdfafafdfs today!
Enter order:
Total is 15

In [ ]:
menu = {'sandwich':10, 
        'tea':5,
       'apple':1,
       'cake':8}
total = 0

while True:
    order = input('Enter order: ').strip()
    
    if order == '':
        break
        
    if order in menu:
        total += menu[order]
        print(f'{order} is {menu[order]}, total is now {total}')
    else:
        print(f'We are out of {order} today!')
        
print(f'Total is {total}')

# Next up

- Modifying and using dicts
- Iterating on dicts
- Files (reading from files, mostly)
- Modules

In [93]:
if True:
asdfafafa

IndentationError: expected an indented block after 'if' statement on line 1 (1057541763.py, line 2)

In [94]:
d = {'a':10, 'b':20, 'c':30}

# change #1: update/change a value
d['b'] = 2000

In [95]:
d

{'a': 10, 'b': 2000, 'c': 30}

In [96]:
# change #2: add a new key-value pair

d['x'] = 9876

In [97]:
d

{'a': 10, 'b': 2000, 'c': 30, 'x': 9876}

In [98]:
# change #3: remove a key-value pair

d.pop('x')   # returns the value, removes the pair

9876

In [99]:
d

{'a': 10, 'b': 2000, 'c': 30}

In [101]:
# count characters 

counts = {}

s = input('Enter text: ').strip()

for one_character in s:
    if one_character in counts:
        counts[one_character] += 1    # other times -- update the value
    else:
        counts[one_character] = 1      # first time -- add the key-value pair

Enter text: this is a test

In [102]:
counts

{'t': 3, 'h': 1, 'i': 2, 's': 3, ' ': 3, 'a': 1, 'e': 1}

# Exercise: Rainfall

1. Define `rainfall`, an empty dict. We'll fill the dict with strings (city names) as keys, and integers (rainfall) as values.
2. Ask the user repeatedly for the name of a city.
    - If we get an empty name, we stop
3. Ask the user how much rain fell in that city
    - Assume we'll get integers here
4. If this is the first time we see this city, add the key-value to the dict
5. If we've seen this city before, add the rainfall amount to what was there
6. Print the dict in the end

Example:

    City: Jerusalem
    Rain: 5
    City: Tel Aviv
    Rain: 4
    City: Jerusalem
    Rain: 3
    City: [ENTER]
    {'Jerusalem': 8, 'Tel Aviv': 4}

In [103]:
rainfall = {}

while True:
    city_name = input('Enter city: ').strip()
    
    if city_name == '':
        break
        
    mm_rain = input('Rain: ').strip()
    mm_rain = int(mm_rain)
    
    if city_name in rainfall:
        rainfall[city_name] += mm_rain
    else:
        rainfall[city_name] = mm_rain
        
print(rainfall)

Enter city: Jerusalem
Rain: 5
Enter city: Tel Aviv
Rain: 4
Enter city: Jerusalem
Rain: 3
Enter city:
{'Jerusalem': 8, 'Tel Aviv': 4}

In [104]:
# if we iterate over a dict, we get the keys

for one_item in rainfall:
    print(one_item)

Jerusalem
Tel Aviv

In [105]:
for one_item in rainfall:
    print(f'{one_item}: {rainfall[one_item]}')

Jerusalem: 8
Tel Aviv: 4

In [106]:
# we can run on the result from dict.items
# we'll get both the key and the value in each iteration

for key, value in rainfall.items():
    print(f'{key}: {value}')

Jerusalem: 8
Tel Aviv: 4

In [107]:
for key, value in rainfall.items():
    print(f'{key}:\t{value}')

Jerusalem:	8
Tel Aviv:	4

In [108]:
'a' + 5

TypeError: can only concatenate str (not "int") to str

In [109]:
'a' * 5

'aaaaa'

In [110]:
for key, value in rainfall.items():
    print(f'{key}:\t{value * 'x'}')

Jerusalem:	xxxxxxxx
Tel Aviv:	xxxx

# Files

To work with a file, we use `open`, giving it the name we want to open. I get a file object back.

In [111]:
f = open('/etc/passwd')

In [112]:
# the read method returns the entire file as a string

f.read()

'root:x:0:0:root:/root:/bin/bash\ndaemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin\nbin:x:2:2:bin:/bin:/usr/sbin/nologin\nsys:x:3:3:sys:/dev:/usr/sbin/nologin\nsync:x:4:65534:sync:/bin:/bin/sync\ngames:x:5:60:games:/usr/games:/usr/sbin/nologin\nman:x:6:12:man:/var/cache/man:/usr/sbin/nologin\nlp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin\nmail:x:8:8:mail:/var/mail:/usr/sbin/nologin\nnews:x:9:9:news:/var/spool/news:/usr/sbin/nologin\nuucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin\nproxy:x:13:13:proxy:/bin:/usr/sbin/nologin\nwww-data:x:33:33:www-data:/var/www:/usr/sbin/nologin\nbackup:x:34:34:backup:/var/backups:/usr/sbin/nologin\nlist:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin\nirc:x:39:39:ircd:/run/ircd:/usr/sbin/nologin\n_apt:x:42:65534::/nonexistent:/usr/sbin/nologin\nnobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin\nsystemd-network:x:998:998:systemd Network Management:/:/usr/sbin/nologin\nsystemd-timesync:x:996:996:systemd Time Synchronization:/:/usr/sbin/nologin\ndhcpcd:x:100:65534:DHCP Client Daemon,,,:/usr/lib/dhcpcd:/bin/false\nmessagebus:x:101:101::/nonexistent:/usr/sbin/nologin\nsyslog:x:102:102::/nonexistent:/usr/sbin/nologin\nsystemd-resolve:x:991:991:systemd Resolver:/:/usr/sbin/nologin\ntss:x:103:103:TPM software stack,,,:/var/lib/tpm:/bin/false\nuuidd:x:104:105::/run/uuidd:/usr/sbin/nologin\nsshd:x:105:65534::/run/sshd:/usr/sbin/nologin\npollinate:x:106:1::/var/cache/pollinate:/bin/false\ntcpdump:x:107:108::/nonexistent:/usr/sbin/nologin\nlandscape:x:108:109::/var/lib/landscape:/usr/sbin/nologin\nfwupd-refresh:x:990:990:Firmware update daemon:/var/lib/fwupd:/usr/sbin/nologin\npolkitd:x:989:989:User for polkitd:/:/usr/sbin/nologin\npostfix:x:109:113::/var/spool/postfix:/usr/sbin/nologin\nstudent:x:1000:1000:,,,:/home/student:/bin/bash\n'

In [114]:
# if we use a for loop on a file, we get each line, one at a time

f = open('/etc/passwd')

for one_line in f:
    print(one_line.strip())

root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
bin:x:2:2:bin:/bin:/usr/sbin/nologin
sys:x:3:3:sys:/dev:/usr/sbin/nologin
sync:x:4:65534:sync:/bin:/bin/sync
games:x:5:60:games:/usr/games:/usr/sbin/nologin
man:x:6:12:man:/var/cache/man:/usr/sbin/nologin
lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin
mail:x:8:8:mail:/var/mail:/usr/sbin/nologin
news:x:9:9:news:/var/spool/news:/usr/sbin/nologin
uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin
proxy:x:13:13:proxy:/bin:/usr/sbin/nologin
www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin
backup:x:34:34:backup:/var/backups:/usr/sbin/nologin
list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin
irc:x:39:39:ircd:/run/ircd:/usr/sbin/nologin
_apt:x:42:65534::/nonexistent:/usr/sbin/nologin
nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin
systemd-network:x:998:998:systemd Network Management:/:/usr/sbin/nologin
systemd-timesync:x:996:996:systemd Time Synchronization:/:/usr/sbin/nologin
dhcpcd:x:100:65534:DHCP Client Daemon,,,:/usr/lib/dhcpcd:/bin/false
messagebus:x:101:101::/nonexistent:/usr/sbin/nologin
syslog:x:102:102::/nonexistent:/usr/sbin/nologin
systemd-resolve:x:991:991:systemd Resolver:/:/usr/sbin/nologin
tss:x:103:103:TPM software stack,,,:/var/lib/tpm:/bin/false
uuidd:x:104:105::/run/uuidd:/usr/sbin/nologin
sshd:x:105:65534::/run/sshd:/usr/sbin/nologin
pollinate:x:106:1::/var/cache/pollinate:/bin/false
tcpdump:x:107:108::/nonexistent:/usr/sbin/nologin
landscape:x:108:109::/var/lib/landscape:/usr/sbin/nologin
fwupd-refresh:x:990:990:Firmware update daemon:/var/lib/fwupd:/usr/sbin/nologin
polkitd:x:989:989:User for polkitd:/:/usr/sbin/nologin
postfix:x:109:113::/var/spool/postfix:/usr/sbin/nologin
student:x:1000:1000:,,,:/home/student:/bin/bash

In [117]:
# let's print the usernames!

f = open('/etc/passwd')

for one_line in f:
    print(one_line.split(':')[0])

root
daemon
bin
sys
sync
games
man
lp
mail
news
uucp
proxy
www-data
backup
list
irc
_apt
nobody
systemd-network
systemd-timesync
dhcpcd
messagebus
syslog
systemd-resolve
tss
uuidd
sshd
pollinate
tcpdump
landscape
fwupd-refresh
polkitd
postfix
student