# Agenda

1. Day 1 -- fundamentals
    - What is a programming language? WHat is Python?
    - Values and variables
    - Comparisons
    - `if`/`else`
    - input + output
    - Numbers (int, float)
    - Strings (text)
    
2. More complexity in data and programs
    - List, tuple
    - Dictionary
    - From strings to lists, and back
    - Files (reading from)
    - Modules (and packages)
    - Functions (maybe)
    
3. Pandas 
    - Series (1D)
    - Data frame (2D)
    - dtypes and `NaN`
    - Methods (functionality) 
    
4. More advanced Pandas
    - Reading from CSV, Excel
    - Grouping, sorting, pivot tables
    - Visualization

In [2]:
print('Hello out there!')

Hello out there!

In [3]:
# python.lerner.co.il
# boipw!!

This is a cell. 

- Edit mode. When I type, Jupyter puts it into the cell. Click in the cell or press ENTER to get into edit mode.
- Command mode. When I type, Jupyter gets a command from me. Click on the left or press ESC.

Commands that I can give to Jupyter:
- `x` -- cut the cell 
- `c` -- copy the cell
- `v` -- paste the cell
- `m` -- Markdown mode, for documentation
- `y` -- code  mode, for Python
- `a` -- new cell *above* the current one
- `b` -- new cell *below* the current one

shift + ENTER: Execute the cell

In [5]:
print('hello again!')
print('hello again again!')

hello again!
hello again again!

# `print`

`print` is a function. You must use `()` to make `print` do something!

We can put, inside of the `()`, any value we want:

- Numbers
- Text (inside of `''`, `""`)
- Expression

In [6]:
print(5)

5

In [7]:
print(5)
print('hello')
print(6)

5
hello
6

In [8]:
print(10 + 5)

15

In [9]:
print('hello' + 'there')

hellothere

In [10]:
print('hello ' + 'there')

hello there

In [11]:
print('My favorite number is ' + 10)

TypeError: can only concatenate str (not "int") to str

In [12]:
print('10' + '20')

1020

# Exercise: Start with Jupyter

1. On the server, create a new notebook ( new -> Python 3)
2. Change the notebook's name to reflect your name and the date.
3. Print a greeting to yourself in Python, using `print`.

In [14]:
print('Hello, Reuven')

Hello, Reuven

In [15]:
# This is a comment

print('Hello' + ' Reuven')   # this is also a comment

Hello Reuven

In [17]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

# Variables and assignment

We can assign to a variable with `=`.  We assign the value on the right into the variable on the left.

What can we name a variable?

- Any combination of letters, digits, and `_`
- We normally only use lowercase letters 
- You cannot put a digit at the start of a variable name
- Don't use `_` on the ends (left or right) of your variable name

Use good names for your variables!

In [20]:
x = 100

print(x)

100

In [21]:
name = 'Reuven'

print('Hello, ' + name)

Hello, Reuven

In [22]:
print('Hello, ' + 'name')

Hello, name

In [23]:
x = 100
print(x)

100

In [24]:
# Only in Jupyter
# if the final line is an expression or  a value, we see it right away

x

100

In [25]:
x + 5

105

In [26]:
10 + 10
20 + 20
30 + 30

60

In [27]:
x

100

In [28]:
# what kind of value is in x?

type(x)

int

In [31]:
x = 'abcd'
type(x)

str

In [31]:
x = 'abcd'
type(x)

str

In [32]:
x = 10
y = 10


# are x and y the same?
x == y

True

# Comparison operators

- `=` -- assignment, a command to assign
- `==` -- comparisons, asks a question

Every comparison operator returns `True` or `False`. They are:

- `==` -- are the two things equal?
- `!=` -- are the two things *NOT* equal?
- `>` -- is the left bigger than the right?
- `>=` -- is the left bigger than or equal to the right?
- `<` -- is the left smaller than the right?
- `<=` -- is the left smaller than or equal to the right?

In [33]:
100 < 200

True

In [34]:
100 < 10

False

In [35]:
100 < 20

False

In [36]:
'apple' < 'banana'

True

In [37]:
'apple' < 'Banana'

False

In [38]:
'100' < '20'

True

In [39]:
'100' < 'apple'

True

In [40]:
# assignment! 

'apple' = 'banana'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4129678310.py, line 3)

In [41]:
apple = 'banana'

In [42]:
apple == 'apple'

False

# Getting input from the user

Use the `input` function to get input from the user.  Whatever the user types is returned by `input` as a string. 

Usually, we'll put `input` on the right side of assignment.

In [48]:
name = input('Enter your name: ')

Enter your name: Reuven

In [49]:
print('Hello, ' + name + "!")

Hello, Reuven!

# Exercise:

1. Ask the user for their name and city, assigning to *two* variables.
2. Print a greeting to the user, using both.

In [50]:
name = input('Enter your name: ')
city = input('Enter your city: ')

print('Hello, ' + name + ', from ' + city + '!')

Enter your name: Reuven
Enter your city: Modi'in
Hello, Reuven, from Modi'in!

In [51]:
# f-string (format string)
# - before the opening quote, put an f
# - {} in the string with a value/expression is replaced
# - the {} are turned into strings

print(f'Hello, {name}, from {city}!')

Hello, Reuven, from Modi'in!

In [52]:
x = 10
y = 20

print(f'{x} + {y} = {x+y}')

10 + 20 = 30

# `if` and `else`

1. To the right of `if`, we need an expression that returns `True` or `False`
2. At the end of the line, we have `:`
3. Indented block of at least one line
4. Optional `else:` (without a comparison) and a block

In [56]:
name = input('Enter your name: ')

if name == 'Reuven':
    print("Hello, boss!")
    print('Great to see you again!')
else:
    print(f'Hello, {name}, whoever you are')    
    
print('Continuing...')

Enter your name: Reuven
Hello, boss!
Great to see you again!
Continuing...

# Exercise: Greeting based on name

1. Ask the user for their name
2. If it's your name, print one thing
3. If it's another name, print another thing

In [ ]:
# github.com/reuven/
# repositories

# github.com/reuven/boi-autumn-2024

In [57]:
name = input('Enter your name: ')

if name == 'Reuven':
    print('Hello, you amazing person!')
else:
    print(f'Hello, {name}')

Enter your name: Reuven
Hello, you amazing person!

In [61]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')

if word1 < word2:
    print(f'{word1} comes before {word2}')
else:
    print(f'{word2} comes before {word1}')

Enter first word: gold
Enter second word: gold
gold comes before gold

# More complex conditions

We can use not just `if` and `else`, but also `elif` -- which has its own condition. I can have as many `elif` clauses as I want. The first that returns `True` runs. If none is `True`, then `else` runs.

In [62]:
x = 50

if x > 10:
    print('Bigger than 10')
elif x > 30:
    print('Bigger than 30')
elif x > 50:
    print('Bigger than 50')
elif x > 70:
    print('Bigger than 70')
elif x > 90:
    print('Bigger than 90')
else:
    print('Who knows?')

Bigger than 10

In [66]:
x = 5

if x > 90:
    print('Bigger than 90')
elif x > 70:
    print('Bigger than 70')
elif x > 50:
    print('Bigger than 50')
elif x > 30:
    print('Bigger than 30')
elif x > 10:
    print('Bigger than 10')
else:
    print('Who knows?')

Who knows?

# Exercise: Which comes first?

1. Ask the user to enter two words.
2. Print which word comes first alphabetically.
3. If the user entered the same word twice, say so.

In [68]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')

if word1 < word2:
    print(f'{word1} comes before {word2}')
elif word1 > word2:
    print(f'{word2} comes before {word1}')
else:
    print(f'{word1} and {word2} are the same')

Enter first word: taxi
Enter second word: cab
cab comes before taxi

In [69]:
# "and" returns True if both sides (left and right) are True -- otherwise, False

x = 10
y = 20

#  True   and      True
x == 10   and     y == 20

True

In [70]:
if x == 10 and y == 20:
    print('yes, both are what we want!')

yes, both are what we want!

In [71]:
#  True   and      False
x == 10   and     y == 50

False

In [72]:
if x == 10 and y == 50:
    print('yes, both are what we want!')

In [73]:
# "or" returns True if the left *OR* the right is True, False otherwise

if x == 10 or y == 50:
    print('At least one is what you want')

At least one is what you want

In [74]:
# "not" looks right, and flips the logic from True->False or False->True

# Exercise: Name and city

1. Ask the user to enter (in two questions) their name and city, and assign to two variables.
2. If the name + city are the same as you, print "You must be me"
3. If the name is the same but the city isn't, print "Nice name, bad city"
3. If the city is the same but the name isn't, print "We live in the same city"
4. If neither is the same, then say "Bad name and bad city"

In [75]:
# not equal is the != operator

In [80]:
my_name = 'Reuven'
my_city = 'Modiin'

name = input('Enter your name: ')
city = input('Enter your city: ')

if name == my_name and city == my_city:
    print(f'You must be me!')
elif name == my_name:
    print(f'Great name, bad city')
elif city == my_city:
    print(f'Great city, bad name')
else:
    print(f'Bad everything!')

Enter your name: Reuven
Enter your city: b

NameError: name 'Reuven' is not defined

# Next up

- Numbers
- Strings

In [ ]:
github.com/reuven

# Numbers

There are two types of numbers in Python:

- `int` -- integer, whole numbers
- `float` -- numbers with a decimal point

In [81]:
x = 123456

type(x)

int

In [82]:
x = 1_234_567_890

print(x)

1234567890

In [83]:
print(x+3)

1234567893

In [84]:
print(x)

1234567890

In [85]:
print(f'{x}')

1234567890

In [91]:
print(f'Number is {x:_>15}')

Number is _____1234567890

In [92]:
print(f'Number is {x:,}')

Number is 1,234,567,890

Go to https://fstring.help/ for full info about f-strings and "format specs" after the `:`

In [93]:
x = 10
y = 3

In [94]:
# operators

x + y

13

In [95]:
x - y

7

In [96]:
x * y   # multiplication

30

In [97]:
x / y     # truediv -- always returns a float

3.3333333333333335

In [98]:
x // y     # floordiv -- always returns an int

3

In [101]:
x = 10
y = 3

x % y    # modulus -- remainder

1

In [100]:
x ** y   # exponentiation

1000

In [102]:
x / 0

ZeroDivisionError: division by zero

In [ ]:
# CalRel  -- calendar releases

In [103]:
x = 10

# add 1 to x

x = x + 1
x

11

In [104]:
# short form of this

x += 1    # same as x = x + 1

In [105]:
x = '10'
y = 20

x + y

TypeError: can only concatenate str (not "int") to str

In [107]:
# I want to get an int based on x

int(x) + y

30

In [108]:
x + str(y)

'1020'

In [109]:
x = int(x)
x

10

In [110]:
type(x)

int

In [111]:
x + y

30

# Exercise: Guessing game

1. Choose a secret integer, and assign to `secret`.
2. Ask the user to enter a guess, and assign to `guess`.
3. Depending on the user's input, tell them that they are too low, too high, or just right.

In [116]:
secret = 72

guess = input('Enter your guess: ')
guess = int(guess)

if guess == secret:
    print('You got it!')
elif guess > secret:
    print('Too high!')
else:
    print('Too low!')

Enter your guess: hello

ValueError: invalid literal for int() with base 10: 'hello'

In [117]:
x = 10
type(x)

int

In [118]:
x = 10.0
type(x)

float

In [119]:
x = 10
y = 20.5

x + y

30.5

In [120]:
0.1 + 0.2

0.30000000000000004

In [121]:
0.1 + 0.2 == 0.3

False

In [122]:
round(0.1+0.2, 4)

0.3

In [123]:
int('123')

123

In [124]:
float('123')

123.0

In [125]:
int(12.34)

12

In [126]:
int(12.99)

12

In [127]:
123.0 == 123

True

In [128]:
x = 12+34j
y = 56-78j

x+y

(68-44j)

In [129]:
x = 100
y = x

x = 200
y

100

# Strings

All text in Python is in strings.

In [130]:
# single quote
# double quotes

s = 'abcdefghijklmnopqrstuvwxyz'

len(s)    # returns the number of characters in a string

26

In [131]:
# retrieve with [index]
# indexes start with 0!

s[0]

'a'

In [132]:
s[1]

'b'

In [133]:
s[2]

'c'

In [134]:
s[25]

'z'

In [135]:
i = 20
s[i]

'u'

In [136]:
s[100]

IndexError: string index out of range

In [137]:
i = 25
s[i]

'z'

In [139]:
s[ len(s)-1 ]

'z'

In [140]:
# much easier to do this
s[-1]

'z'

In [141]:
s[-2]

'y'

In [142]:
s[-3]

'x'

In [143]:
s = 'שלום'
s[0]

'ש'

In [144]:
s[-1]

'ם'

In [145]:
s

'שלום'

In [147]:
s = 'abcdefghijklmnopqrstuvwxyz'
len(s)

26

In [148]:
# slice -- part of a string
# s[start_index:end_index]

s[10:20]   # from index 10, until (not including) index 20

'klmnopqrst'

In [149]:
s[5:10]   # from index 5, until (not including) index 10

'fghij'

In [150]:
s[:10]    # from the start, up to (not including) 10

'abcdefghij'

In [151]:
s[20:]    # from index 20, through the end

'uvwxyz'

In [152]:
# search in our string
# use the "in" operator, where we say SMALL in BIG

'j' in s

True

In [153]:
'!' in s

False

In [154]:
'cdef' in s

True

In [155]:
'cf' in s

False

# Ways to create strings

- Single quote (`''`)
- Double quotes (`""`)
- f-string (`f''`)
- raw string (`r''`), doubles all backslashes
- triple quoted string (`''' '''`)

In [157]:
s = 'He\'s very nice'

In [158]:
s

"He's very nice"

In [160]:
s = "She said, \"Hello\""

In [161]:
s

'She said, "Hello"'

In [162]:
s = 'He said, "She\'s very nice"'
s

'He said, "She\'s very nice"'

In [163]:
print(s)

He said, "She's very nice"

In [165]:
# \n == newline

s = 'This is a very long text.\n\nIt has two lines.'

print(s)

This is a very long text.

It has two lines.

In [166]:
s = 'abc\ndef'

len(s)

7

In [169]:
print(s[3])

In [170]:
filename = 'c:\abc\def\ghi.txt'

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_54189/835140660.py:1: SyntaxWarning: invalid escape sequence '\d'
  filename = 'c:\abc\def\ghi.txt'

In [171]:
print(filename)

c:bc\def\ghi.txt

In [172]:
# option 1 to fix this: double the backslashes
filename = 'c:\\abc\\def\\ghi.txt'
print(filename)

c:\abc\def\ghi.txt

In [173]:
filename

'c:\\abc\\def\\ghi.txt'

In [174]:
# option 2: raw string -- r before the start of the string
filename = r'c:\abc\def\ghi.txt'

print(filename)

c:\abc\def\ghi.txt

In [175]:
# triple-quoted string
# allows us to include newlines (multiple lines) in our string
# defined with ''' '''  or """ """

s = '''this is a very long string

so long it requires several lines

Wow, I am so excited!'''

s

'this is a very long string\n\nso long it requires several lines\n\nWow, I am so excited!'

In [176]:
# RegexpCrashCourse.com

# Exercise: Pig Latin

Rules:

- If the first letter is a vowel (a, e, i, o, u) add `way`
- In other cases, move the first letter to the end, and add `ay`

Examples:

- `table` -> `abletay`
- `elephant` -> `elephantway`
- `papaya` -> `apayapay`
- `octopus` -> `octopusway`

1. Ask the user for a word (all lowercase)
2. Print the translation into Pig Latin

In [178]:
word = input('Enter a word: ')

# if word[0] == 'a' or word[0] == 'e' or word[0] == 'i' or word[0] == 'o' or word[0] == 'u':
#     print(word + 'way')
    
if word[0] in 'aeiou':
    print(word + 'way')
else:
    print(word[1:] + word[0] + 'ay')

Enter a word: elephant
elephantway

# Methods

Methods are functions that are attached to objects. With functions, we say

     FUNC(DATA)
     
With methods, we say

    DATA.METHOD()
    
Or

    DATA.METHOD(a, b, c)
    
Python has *lots* of objects, and every type has its own methods.

In [179]:
name = input('Enter your name: ')
print(f'Hello, {name}.')

Enter your name:        Reuven
Hello,        Reuven    .

In [180]:
name

'       Reuven    '

In [181]:
# The str.strip method returns a new string, based
# on the original string, without whitespace on the edges

name.strip()

'Reuven'

In [182]:
name = input('Enter your name: ')
name = name.strip()

print(f'Hello, {name}.')

Enter your name:        Reuven
Hello, Reuven.

In [183]:
name

'Reuven'

In [184]:
name = input('Enter your name: ').strip()

print(f'Hello, {name}.')

Enter your name:        Reuven
Hello, Reuven.

In [185]:
s = 'aBcD eFgH'

s.upper()

'ABCD EFGH'

In [186]:
s.lower()

'abcd efgh'

In [187]:
s.capitalize()

'Abcd efgh'

In [188]:
s.swapcase()

'AbCd EfGh'

In [189]:
n = input('Enter a number: ').strip()

print(n * 5)

Enter a number: 9
99999

In [193]:
# the method str.isdigit() returns True
# if the string only contains digits

n = input('Enter a number: ').strip()

if n.isdigit():
    n = int(n)
    print(n * 5)
else:
    print(f'{n} is not numeric')

Enter a number: hello
hello is not numeric

# Exercise: (Better) guessing game

Redo the guessing-game exercise, but catch non-numeric inputs.

In [ ]:
secret = 72

guess = input('Enter your guess: ')
guess = int(guess)

if guess == secret:
    print('You got it!')
elif guess > secret:
    print('Too high!')
else:
    print('Too low!')