# Agenda

1. Day 1 -- fundamentals
    - What is a programming language? WHat is Python?
    - Values and variables
    - Comparisons
    - `if`/`else`
    - input + output
    - Numbers (int, float)
    - Strings (text)
    
2. More complexity in data and programs
    - List, tuple
    - Dictionary
    - From strings to lists, and back
    - Files (reading from)
    - Modules (and packages)
    - Functions (maybe)
    
3. Pandas 
    - Series (1D)
    - Data frame (2D)
    - dtypes and `NaN`
    - Methods (functionality) 
    
4. More advanced Pandas
    - Reading from CSV, Excel
    - Grouping, sorting, pivot tables
    - Visualization

In [2]:
print('Hello out there!')

Hello out there!

In [3]:
# python.lerner.co.il
# boipw!!

This is a cell. 

- Edit mode. When I type, Jupyter puts it into the cell. Click in the cell or press ENTER to get into edit mode.
- Command mode. When I type, Jupyter gets a command from me. Click on the left or press ESC.

Commands that I can give to Jupyter:
- `x` -- cut the cell 
- `c` -- copy the cell
- `v` -- paste the cell
- `m` -- Markdown mode, for documentation
- `y` -- code  mode, for Python
- `a` -- new cell *above* the current one
- `b` -- new cell *below* the current one

shift + ENTER: Execute the cell

In [5]:
print('hello again!')
print('hello again again!')

hello again!
hello again again!

# `print`

`print` is a function. You must use `()` to make `print` do something!

We can put, inside of the `()`, any value we want:

- Numbers
- Text (inside of `''`, `""`)
- Expression

In [6]:
print(5)

5

In [7]:
print(5)
print('hello')
print(6)

5
hello
6

In [8]:
print(10 + 5)

15

In [9]:
print('hello' + 'there')

hellothere

In [10]:
print('hello ' + 'there')

hello there

In [11]:
print('My favorite number is ' + 10)

TypeError: can only concatenate str (not "int") to str

In [12]:
print('10' + '20')

1020

# Exercise: Start with Jupyter

1. On the server, create a new notebook ( new -> Python 3)
2. Change the notebook's name to reflect your name and the date.
3. Print a greeting to yourself in Python, using `print`.

In [14]:
print('Hello, Reuven')

Hello, Reuven

In [15]:
# This is a comment

print('Hello' + ' Reuven')   # this is also a comment

Hello Reuven

In [17]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

# Variables and assignment

We can assign to a variable with `=`.  We assign the value on the right into the variable on the left.

What can we name a variable?

- Any combination of letters, digits, and `_`
- We normally only use lowercase letters 
- You cannot put a digit at the start of a variable name
- Don't use `_` on the ends (left or right) of your variable name

Use good names for your variables!

In [20]:
x = 100

print(x)

100

In [21]:
name = 'Reuven'

print('Hello, ' + name)

Hello, Reuven

In [22]:
print('Hello, ' + 'name')

Hello, name

In [23]:
x = 100
print(x)

100

In [24]:
# Only in Jupyter
# if the final line is an expression or  a value, we see it right away

x

100

In [25]:
x + 5

105

In [26]:
10 + 10
20 + 20
30 + 30

60

In [27]:
x

100

In [28]:
# what kind of value is in x?

type(x)

int

In [31]:
x = 'abcd'
type(x)

str

In [31]:
x = 'abcd'
type(x)

str

In [32]:
x = 10
y = 10


# are x and y the same?
x == y

True

# Comparison operators

- `=` -- assignment, a command to assign
- `==` -- comparisons, asks a question

Every comparison operator returns `True` or `False`. They are:

- `==` -- are the two things equal?
- `!=` -- are the two things *NOT* equal?
- `>` -- is the left bigger than the right?
- `>=` -- is the left bigger than or equal to the right?
- `<` -- is the left smaller than the right?
- `<=` -- is the left smaller than or equal to the right?

In [33]:
100 < 200

True

In [34]:
100 < 10

False

In [35]:
100 < 20

False

In [36]:
'apple' < 'banana'

True

In [37]:
'apple' < 'Banana'

False

In [38]:
'100' < '20'

True

In [39]:
'100' < 'apple'

True

In [40]:
# assignment! 

'apple' = 'banana'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4129678310.py, line 3)

In [41]:
apple = 'banana'

In [42]:
apple == 'apple'

False

# Getting input from the user

Use the `input` function to get input from the user.  Whatever the user types is returned by `input` as a string. 

Usually, we'll put `input` on the right side of assignment.

In [48]:
name = input('Enter your name: ')

Enter your name: Reuven

In [49]:
print('Hello, ' + name + "!")

Hello, Reuven!

# Exercise:

1. Ask the user for their name and city, assigning to *two* variables.
2. Print a greeting to the user, using both.

In [50]:
name = input('Enter your name: ')
city = input('Enter your city: ')

print('Hello, ' + name + ', from ' + city + '!')

Enter your name: Reuven
Enter your city: Modi'in
Hello, Reuven, from Modi'in!

In [51]:
# f-string (format string)
# - before the opening quote, put an f
# - {} in the string with a value/expression is replaced
# - the {} are turned into strings

print(f'Hello, {name}, from {city}!')

Hello, Reuven, from Modi'in!

In [52]:
x = 10
y = 20

print(f'{x} + {y} = {x+y}')

10 + 20 = 30

In [ ]:
name = input('Enter your name: ')

if name == 'Reuven':
    print("Hello, boss!")
    print('Great to see you again!')
else:
    print('Hello, {name}, whoever you are')