In [1]:
import random

In [2]:
random.randint(0, 100)

62

In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

# Data types: Series and DataFrame

In [5]:
s = Series(    [10, 20, 30, 40, 50, 60, 70]     )

In [6]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [7]:
s[0]

10

In [8]:
s[1]

20

In [9]:
s = Series(    'this is a test'.split()  )
s

0    this
1      is
2       a
3    test
dtype: object

In [10]:
s = Series(    [10, 20, 30, 40, 50, 60, 70]     )
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [11]:
# slice?
s[2:5]

2    30
3    40
4    50
dtype: int64

In [12]:
s[3] = 999
s

0     10
1     20
2     30
3    999
4     50
5     60
6     70
dtype: int64

In [13]:
s[4] = 12.34

/tmp/ipykernel_1583/2558586753.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.34' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s[4] = 12.34

In [14]:
s

0     10.00
1     20.00
2     30.00
3    999.00
4     12.34
5     60.00
6     70.00
dtype: float64

In [15]:
s[5] = 'hello'

/tmp/ipykernel_1583/1284062357.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hello' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  s[5] = 'hello'

In [16]:
s

0     10.0
1     20.0
2     30.0
3    999.0
4    12.34
5    hello
6     70.0
dtype: object

In [17]:
s = Series(    [10, 20, 30, 40, 50, 60, 70]     )
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [18]:
# methods

s.sum()

280

In [19]:
s.min()

10

In [20]:
s.max()

70

In [21]:
s.mean()

40.0

In [22]:
s.std()

21.602468994692867

In [23]:
s.median()

40.0

In [24]:
s.quantile(0.25)

25.0

In [25]:
s.quantile(0.75)

55.0

In [26]:
s.describe()

count     7.000000
mean     40.000000
std      21.602469
min      10.000000
25%      25.000000
50%      40.000000
75%      55.000000
max      70.000000
dtype: float64

# Exercise: Temperature

1. Define a series with 10 integers, the max temp forecast for the next 10 days.
2. Get the descriptive statistics with `describe`.
3. In the first 5 days, what will be the max temp?

In [27]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [28]:
# first 3 values

s[:3]

0    10
1    20
2    30
dtype: int64

In [29]:
s[0:3]

0    10
1    20
2    30
dtype: int64

In [30]:
s[0:4]

0    10
1    20
2    30
3    40
dtype: int64

In [31]:
s = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19])
s

0    18
1    18
2    19
3    20
4    19
5    20
6    19
7    20
8    21
9    19
dtype: int64

In [32]:
s.describe()

count    10.000000
mean     19.300000
std       0.948683
min      18.000000
25%      19.000000
50%      19.000000
75%      20.000000
max      21.000000
dtype: float64

In [33]:
s[:5]

0    18
1    18
2    19
3    20
4    19
dtype: int64

In [34]:
s[:5].max()

20

In [35]:
s

0    18
1    18
2    19
3    20
4    19
5    20
6    19
7    20
8    21
9    19
dtype: int64

# Index

In Pandas, we can decide what the index will be!

We can use any values we want there.

In [38]:
s = Series([10, 20, 30, 40, 50],
          index=[5, 10, 15, 20, 300])
s

5      10
10     20
15     30
20     40
300    50
dtype: int64

In [39]:
s[4]

KeyError: 4

# Two ways to retrieve

1. `.loc` -- retrieve via the index, using `[]`
2. `.iloc` -- retrieve via the position, using `[]`, starting at position 0

In [40]:
s

5      10
10     20
15     30
20     40
300    50
dtype: int64

In [41]:
s.loc[10]

20

In [42]:
s.loc[20]

40

In [44]:
s.loc[10:20]   # .loc returns a slice UP TO AND INCLUDING

10    20
15    30
20    40
dtype: int64

In [45]:
s.iloc[2:4]

15    30
20    40
dtype: int64

In [46]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [47]:
s + s

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [48]:
t = Series([100, 200, 300])

s + t

0    110.0
1    220.0
2    330.0
3      NaN
4      NaN
dtype: float64

In [49]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [50]:
# broadcast

s + 3

0    13
1    23
2    33
3    43
4    53
dtype: int64

In [51]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [52]:
s.loc[0]

10

In [53]:
s.loc[1]

20

In [54]:
# fancy indexing -- give a list of indexes to []
s.loc[ [0, 1]  ]

0    10
1    20
dtype: int64

In [55]:
s.loc[ [0, 2, 0] ]

0    10
2    30
0    10
dtype: int64

In [56]:
s = Series([10, 20, 30, 40, 50],
          index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [57]:
s.loc['a']

10

In [58]:
s.loc['b']

20

In [59]:
s.loc[['a', 'c']]

a    10
c    30
dtype: int64

In [60]:
s.loc['b':'d']

b    20
c    30
d    40
dtype: int64

In [61]:
s = Series([10, 20, 30, 40, 50],
          index=list('abc'))
s

ValueError: Length of values (5) does not match length of index (3)

In [62]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [63]:
t = Series([100, 200, 300, 400, 500],
          index=list('edcba'))
t

e    100
d    200
c    300
b    400
a    500
dtype: int64

In [64]:
s + t

a    510
b    420
c    330
d    240
e    150
dtype: int64

In [65]:
s * t

a    5000
b    8000
c    9000
d    8000
e    5000
dtype: int64

In [66]:
t.T

e    100
d    200
c    300
b    400
a    500
dtype: int64

In [67]:
s.values

array([10, 20, 30, 40, 50])

In [68]:
s.values * t.values.T

array([ 1000,  4000,  9000, 16000, 25000])

In [69]:
t.values.T

array([100, 200, 300, 400, 500])

In [70]:
t.values

array([100, 200, 300, 400, 500])

In [72]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [74]:
# matrix multiplication

s.dot(s)

5500

In [75]:
s = Series([10, 20, 30, 40, 50],
          index=list('abcab'))
s

a    10
b    20
c    30
a    40
b    50
dtype: int64

In [76]:
s.loc['c']

30

In [77]:
s.loc['a']

a    10
a    40
dtype: int64

In [78]:
s.loc['b']

b    20
b    50
dtype: int64

In [79]:
s.loc[ ['a', 'b'] ]

a    10
a    40
b    20
b    50
dtype: int64

In [80]:
t

e    100
d    200
c    300
b    400
a    500
dtype: int64

In [81]:
s + t

a    510.0
a    540.0
b    420.0
b    450.0
c    330.0
d      NaN
e      NaN
dtype: float64

In [82]:
t = Series([100, 200, 300, 400, 500],
          index=list('bcdba'))

In [83]:
s + t

a    510.0
a    540.0
b    120.0
b    420.0
b    150.0
b    450.0
c    230.0
d      NaN
dtype: float64

In [84]:
s.index

Index(['a', 'b', 'c', 'a', 'b'], dtype='object')

In [85]:
a = Series([10, 20, 30])
a

0    10
1    20
2    30
dtype: int64

In [86]:
a.index

RangeIndex(start=0, stop=3, step=1)

In [87]:
s

a    10
b    20
c    30
a    40
b    50
dtype: int64

In [91]:
x

NameError: name 'z' is not defined

In [92]:
len(dir(s))

422

In [93]:
len(dir(pd))

140

# Exercise: Temperatures

1. Define a series, `highs`, with the 10-day high-temperature forecast for the next 10 days. The index should be a string with two digits for the date.
2. Define a series, `lows`, with the same thing, but with the expected low temperatures.
3. Define a series, `diffs`, that is the difference between the highs and lows.
4. Retrieve the diffs for 05.12 - 10.12.
5. Run `describe` on the first 5 days in `diffs`.

In [96]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())
lows = Series([6, 8, 8, 9, 8, 9, 8, 9, 8, 7],
              index='02 03 04 05 06 07 08 09 10 11'.split())

In [97]:
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int64

In [98]:
highs - lows

02    12
03    10
04    11
05    11
06    11
07    11
08    11
09    11
10    13
11    12
dtype: int64

In [99]:
diffs = highs - lows

In [103]:
diffs.loc['05':'09']

05    11
06    11
07    11
08    11
09    11
dtype: int64

In [104]:
diffs.loc['05':'09'].describe()

count     5.0
mean     11.0
std       0.0
min      11.0
25%      11.0
50%      11.0
75%      11.0
max      11.0
dtype: float64

# What we *don't* use in Pandas

- `if`
- `for`

How, then, can we retrieve values that we want?

In [105]:
s * 3

a     30
b     60
c     90
a    120
b    150
dtype: int64

In [106]:
s

a    10
b    20
c    30
a    40
b    50
dtype: int64

In [107]:
s = Series( [10, 20, 30, 40, 50],
          index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [108]:
# broadcast

s + 30

a    40
b    50
c    60
d    70
e    80
dtype: int64

In [109]:
s / 10

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [110]:
# what if I use == ?

s == 30

a    False
b    False
c     True
d    False
e    False
dtype: bool

In [111]:
# I get back a series of booleans!

In [112]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [113]:
s.loc['b']

20

In [114]:
s.loc[['a', 'b', 'c', 'e']]

a    10
b    20
c    30
e    50
dtype: int64

In [116]:
# what if we use booleans (True/False) in a list?
# we only get the values back for which we have True

# boolean index , mask index

s.loc[ [True, False, True, False, True] ]

a    10
c    30
e    50
dtype: int64

In [117]:
s.loc[ [1, 0, 1, 0, 1] ]

KeyError: "None of [Index([1, 0, 1, 0, 1], dtype='int64')] are in the [index]"

In [118]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [119]:
s.loc[[0,1,1,0,1]]   # fancy index, because they're integers

0    10
1    20
1    20
0    10
1    20
dtype: int64

In [120]:
s.loc[[False, True, True, False, True]]

1    20
2    30
4    50
dtype: int64

In [123]:
# What's happening here?
# 1. s == 30 returns a series of booleans (True/False)
# 2. We put the boolean series in []
# 3. We give it to .loc
# 4. We get back values of s where the boolean was True

s.loc[ s == 30 ]

2    30
dtype: int64

In [124]:
s.loc[ s < s.mean() ]

0    10
1    20
dtype: int64

In [125]:
s.loc[ s < s.mean() - s.std() ]

0    10
dtype: int64

In [126]:
s + 3

0    13
1    23
2    33
3    43
4    53
dtype: int64

In [127]:
s < 50

0     True
1     True
2     True
3     True
4    False
dtype: bool

# Exercise: Family

1. Create a series in which the index contains people's names, and the values are their ages. Have at least 5 elements.
2. Find all of the family members whose ages are above the mean.
3. Are there any people whose ages are 1 standard deviation below the mean?

In [128]:
s = Series([54, 52, 23, 21, 19],
          index='Reuven Shira Atara Shikma Amotz'.split())  # keyword argument
s

Reuven    54
Shira     52
Atara     23
Shikma    21
Amotz     19
dtype: int64

In [129]:
s.mean()

33.8

In [130]:
s.max()

54

In [131]:
s.min()

19

In [133]:
s.loc[   s > s.mean()  ]

Reuven    54
Shira     52
dtype: int64

In [135]:
s.loc[ s <  s.mean() - s.std()  ]

Series([], dtype: int64)

In [136]:
s.loc[ s <  s.mean() - s.std()  ].count()

0

In [141]:
s = Series([10, 20, 30, 20, 30, 20, 30, 30, 90, 100],
          index=list('abcdefghij'))
s

a     10
b     20
c     30
d     20
e     30
f     20
g     30
h     30
i     90
j    100
dtype: int64

In [142]:
# what if I want the first five?
s.iloc[:5]

a    10
b    20
c    30
d    20
e    30
dtype: int64

In [143]:
s.head(5)

a    10
b    20
c    30
d    20
e    30
dtype: int64

In [144]:
s.tail(5)

f     20
g     30
h     30
i     90
j    100
dtype: int64

In [145]:
# how many times does each value appear?
s.value_counts()

30     4
20     3
10     1
90     1
100    1
Name: count, dtype: int64

In [146]:
# what if I want to know the 2 items that are most common?

s.value_counts().head(2)

30    4
20    3
Name: count, dtype: int64

In [147]:
# I want to know the percentage of each value in s

s.value_counts() / s.count()

30     0.4
20     0.3
10     0.1
90     0.1
100    0.1
Name: count, dtype: float64

In [148]:
s.value_counts(normalize=True)

30     0.4
20     0.3
10     0.1
90     0.1
100    0.1
Name: proportion, dtype: float64

In [149]:
help(s.value_counts)

Help on method value_counts in module pandas.core.base:

value_counts(normalize: 'bool' = False, sort: 'bool' = True, ascending: 'bool' = False, bins=None, dropna: 'bool' = True) -> 'Series' method of pandas.core.series.Series instance
    Return a Series containing counts of unique values.

    The resulting object will be in descending order so that the
    first element is the most frequently-occurring element.
    Excludes NA values by default.

    Parameters
    ----------
    normalize : bool, default False
        If True then the object returned will contain the relative
        frequencies of the unique values.
    sort : bool, default True
        Sort by frequencies when True. Preserve the order of the data when False.
    ascending : bool, default False
        Sort in ascending order.
    bins : int, optional
        Rather than count values, group them into half-open bins,
        a convenience for ``pd.cut``, only works with numeric data.
    dropna : bool, default True
        Don't include counts of NaN.

    Returns
    -------
    Series

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.count: Number of non-NA elements in a DataFrame.
    DataFrame.value_counts: Equivalent method on DataFrames.

    Examples
    --------
    >>> index = pd.Index([3, 1, 2, 3, 4, np.nan])
    >>> index.value_counts()
    3.0    2
    1.0    1
    2.0    1
    4.0    1
    Name: count, dtype: int64

    With `normalize` set to `True`, returns the relative frequency by
    dividing all values by the sum of values.

    >>> s = pd.Series([3, 1, 2, 3, 4, np.nan])
    >>> s.value_counts(normalize=True)
    3.0    0.4
    1.0    0.2
    2.0    0.2
    4.0    0.2
    Name: proportion, dtype: float64

    **bins**

    Bins can be useful for going from a continuous variable to a
    categorical variable; instead of counting unique
    apparitions of values, divide the index in the specified
    number of half-open bins.

    >>> s.value_counts(bins=3)
    (0.996, 2.0]    2
    (2.0, 3.0]      2
    (3.0, 4.0]      1
    Name: count, dtype: int64

    **dropna**

    With `dropna` set to `False` we can also see NaN index values.

    >>> s.value_counts(dropna=False)
    3.0    2
    1.0    1
    2.0    1
    4.0    1
    NaN    1
    Name: count, dtype: int64

# `dtype`

`dtype` is a NumPy/Pandas idea -- a C data type.  Every series has a dtype. All of the values in that series have the same dtype.

In [150]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [151]:
2 ** 64   # 2 to the 64th power

18446744073709551616

In [152]:
s = Series([10, 20, 30, 40, 50], dtype='int32')
s

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [153]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [154]:
s * 10

0    100
1    -56
2     44
3   -112
4    -12
dtype: int8

In [155]:
2 ** 8

256

In [156]:
2 ** 32

4294967296

In [157]:
2 ** 54

18014398509481984

In [158]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

# dtype

- `int`
    - `int8`
    - `int16`
    - `int32`
    - `int64` (default)
- `float`
    - `float16`
    - `float32`
    - `float64` (default)
- `uint` (unsigned int)
    - `uint8`
    - `uint16`
    - `uint32`
    - `uint64`
- `object` (string, more or less)

In [164]:
s = Series('hello out there'.split(), dtype='uint64')

ValueError: invalid literal for int() with base 10: 'hello'

In [165]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [166]:
s.loc[2]= 12.34
s

/tmp/ipykernel_1583/3505832813.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.34' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s.loc[2]= 12.34

0    10.00
1    20.00
2    12.34
3    40.00
4    50.00
dtype: float64

In [172]:
# the right way to do this... 
# use .astype

s = Series([10, 20, 30, 40, 50])
s = s.astype('float64')
s.loc[2] = 12.345
s

0    10.000
1    20.000
2    12.345
3    40.000
4    50.000
dtype: float64

In [169]:
s = Series([1.23, 4.56, 7.89])
s

0    1.23
1    4.56
2    7.89
dtype: float64

In [170]:
s.astype('int64')

0    1
1    4
2    7
dtype: int64

In [171]:
s.round()

0    1.0
1    5.0
2    8.0
dtype: float64

# Exercise: Temps

1. Define `highs` again, with the high temps predicted for the next 10 days.
2. Convert all of the temperatures to Fahrenheit. This will result in floats.
3. Convert to ints, ignoring/removing the fractional part.
4. What dtype of int should we use here, to avoid losing data?

In [174]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split(), dtype='int8')
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int8

In [181]:
(highs * 9/5) + 32

02    13.2
03    13.2
04    15.0
05    16.8
06    15.0
07    16.8
08    15.0
09    16.8
10    18.6
11    15.0
dtype: float64

In [182]:
((highs * 9/5) + 32).astype('int8')

02    13
03    13
04    15
05    16
06    15
07    16
08    15
09    16
10    18
11    15
dtype: int8

# `NaN` -- "not a number"

`NaN` means that we don't have a value.

In [184]:
test_scores = Series([88, 95, 97, 85, 90])
test_scores.mean()

91.0

In [185]:
test_scores = Series([88, 95, 97, 85, 0])
test_scores.mean()

73.0

In [186]:
import numpy as np

test_scores = Series([88, 95, 97, 85, np.nan])
test_scores.mean()

91.25

In [187]:
type(np.nan)

float

In [188]:
np.nan == np.nan

False

In [189]:
s = Series([10, 20, 30, np.nan, 50])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [190]:
s.sum()

110.0

In [192]:
s = Series([10, 20, 30, pd.NA, 50])
s

0      10
1      20
2      30
3    <NA>
4      50
dtype: object

In [193]:
s.mean()

27.5

In [194]:
s = Series([10, 20, 30, np.nan, 50])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [195]:
s.astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

# Removing `nan`

1. `dropna` -- returns a new series, based on our series, without `nan`
2. `fillna` -- returns a new series, based on ours, with `nan` replaced with a value

In [196]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [197]:
s.dropna()

0    10.0
1    20.0
2    30.0
4    50.0
dtype: float64

In [198]:
s.fillna(9999)

0      10.0
1      20.0
2      30.0
3    9999.0
4      50.0
dtype: float64

In [199]:
s.fillna(s.mean())

0    10.0
1    20.0
2    30.0
3    27.5
4    50.0
dtype: float64

In [200]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [201]:
help(s.mean)

Help on method mean in module pandas.core.series:

mean(axis: 'Axis | None' = 0, skipna: 'bool' = True, numeric_only: 'bool' = False, **kwargs) method of pandas.core.series.Series instance
    Return the mean of the values over the requested axis.

    Parameters
    ----------
    axis : {index (0)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.

        For DataFrames, specifying ``axis=None`` will apply the aggregation
        across both axes.

        .. versionadded:: 2.0.0

    skipna : bool, default True
        Exclude NA/null values when computing the result.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    scalar or scalar

                Examples
                --------
                >>> s = pd.Series([1, 2, 3])
                >>> s.mean()
                2.0

                With a DataFrame

                >>> df = pd.DataFrame({'a': [1, 2], 'b': [2, 3]}, index=['tiger', 'zebra'])
                >>> df
                       a   b
                tiger  1   2
                zebra  2   3
                >>> df.mean()
                a   1.5
                b   2.5
                dtype: float64

                Using axis=1

                >>> df.mean(axis=1)
                tiger   1.5
                zebra   2.5
                dtype: float64

                In this case, `numeric_only` should be set to `True` to avoid
                getting an error.

                >>> df = pd.DataFrame({'a': [1, 2], 'b': ['T', 'Z']},
                ...                   index=['tiger', 'zebra'])
                >>> df.mean(numeric_only=True)
                a   1.5
                dtype: float64

In [202]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [203]:
s.count()

4

In [204]:
s.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [205]:
s.isna().value_counts()

False    4
True     1
Name: count, dtype: int64

In [206]:
s.isna().sum()

1

# Exercise: Temperatures

1. Create the `highs` series again.
2. Replace 3 of the values with `np.nan`. What is the dtype now?
3. Replace the `nan` values with the mean. Does this change the mean? The std?
4. Replace the `nan` values with the max. How does this change things?

In [208]:
highs
highs.loc[['03', '06', '08']]     = np.nan
highs

02    18.0
03     NaN
04    19.0
05    20.0
06     NaN
07    20.0
08     NaN
09    20.0
10    21.0
11    19.0
dtype: float64

In [210]:
highs.fillna(highs.mean())

02    18.000000
03    19.571429
04    19.000000
05    20.000000
06    19.571429
07    20.000000
08    19.571429
09    20.000000
10    21.000000
11    19.000000
dtype: float64

In [212]:
highs.describe()

count     7.000000
mean     19.571429
std       0.975900
min      18.000000
25%      19.000000
50%      20.000000
75%      20.000000
max      21.000000
dtype: float64

In [211]:
highs.fillna(highs.mean()).describe()

count    10.000000
mean     19.571429
std       0.796819
min      18.000000
25%      19.142857
50%      19.571429
75%      20.000000
max      21.000000
dtype: float64

In [213]:
highs.fillna(highs.max()).describe()

count    10.000000
mean     20.000000
std       1.054093
min      18.000000
25%      19.250000
50%      20.000000
75%      21.000000
max      21.000000
dtype: float64

In [214]:
highs

02    18.0
03     NaN
04    19.0
05    20.0
06     NaN
07    20.0
08     NaN
09    20.0
10    21.0
11    19.0
dtype: float64

In [215]:
highs.interpolate()

02    18.0
03    18.5
04    19.0
05    20.0
06    20.0
07    20.0
08    20.0
09    20.0
10    21.0
11    19.0
dtype: float64

In [217]:
# method chaining

(
    highs
    .fillna(highs.max())
    .describe()
)

count    10.000000
mean     20.000000
std       1.054093
min      18.000000
25%      19.250000
50%      20.000000
75%      21.000000
max      21.000000
dtype: float64

In [219]:
s = Series([10, 5, -20, 7, 4, 11, -3],
          index=list('abcdefg'))
s

a    10
b     5
c   -20
d     7
e     4
f    11
g    -3
dtype: int64

# Sorting

- `sort_index`
- `sort_values`

We'll get a new series back, sorted as we asked; no effect on the original.

In [220]:
s.sort_values()

c   -20
g    -3
e     4
b     5
d     7
a    10
f    11
dtype: int64

In [221]:
s.sort_values(ascending=False)

f    11
a    10
d     7
b     5
e     4
g    -3
c   -20
dtype: int64

In [222]:
help(s.sort_values)

Help on method sort_values in module pandas.core.series:

sort_values(*, axis: 'Axis' = 0, ascending: 'bool | Sequence[bool]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'NaPosition' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc | None' = None) -> 'Series | None' method of pandas.core.series.Series instance
    Sort by the values.

    Sort a Series in ascending or descending order by some
    criterion.

    Parameters
    ----------
    axis : {0 or 'index'}
        Unused. Parameter needed for compatibility with DataFrame.
    ascending : bool or list of bools, default True
        If True, sort values in ascending order, otherwise descending.
    inplace : bool, default False
        If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
        Choice of sorting algorithm. See also :func:`numpy.sort` for more
        information. 'mergesort' and 'stable' are the only stable  algorithms.
    na_position : {'first' or 'last'}, default 'last'
        Argument 'first' puts NaNs at the beginning, 'last' puts NaNs at
        the end.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, , n - 1.
    key : callable, optional
        If not None, apply the key function to the series values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return an array-like.

    Returns
    -------
    Series or None
        Series ordered by values or None if ``inplace=True``.

    See Also
    --------
    Series.sort_index : Sort by the Series indices.
    DataFrame.sort_values : Sort DataFrame by the values along either axis.
    DataFrame.sort_index : Sort DataFrame by indices.

    Examples
    --------
    >>> s = pd.Series([np.nan, 1, 3, 10, 5])
    >>> s
    0     NaN
    1     1.0
    2     3.0
    3     10.0
    4     5.0
    dtype: float64

    Sort values ascending order (default behaviour)

    >>> s.sort_values(ascending=True)
    1     1.0
    2     3.0
    4     5.0
    3    10.0
    0     NaN
    dtype: float64

    Sort values descending order

    >>> s.sort_values(ascending=False)
    3    10.0
    4     5.0
    2     3.0
    1     1.0
    0     NaN
    dtype: float64

    Sort values putting NAs first

    >>> s.sort_values(na_position='first')
    0     NaN
    1     1.0
    2     3.0
    4     5.0
    3    10.0
    dtype: float64

    Sort a series of strings

    >>> s = pd.Series(['z', 'b', 'd', 'a', 'c'])
    >>> s
    0    z
    1    b
    2    d
    3    a
    4    c
    dtype: object

    >>> s.sort_values()
    3    a
    1    b
    4    c
    2    d
    0    z
    dtype: object

    Sort using a key function. Your `key` function will be
    given the ``Series`` of values and should return an array-like.

    >>> s = pd.Series(['a', 'B', 'c', 'D', 'e'])
    >>> s.sort_values()
    1    B
    3    D
    0    a
    2    c
    4    e
    dtype: object
    >>> s.sort_values(key=lambda x: x.str.lower())
    0    a
    1    B
    2    c
    3    D
    4    e
    dtype: object

    NumPy ufuncs work well here. For example, we can
    sort by the ``sin`` of the value

    >>> s = pd.Series([-4, -2, 0, 2, 4])
    >>> s.sort_values(key=np.sin)
    1   -2
    4    4
    2    0
    0   -4
    3    2
    dtype: int64

    More complicated user-defined functions can be used,
    as long as they expect a Series and return an array-like

    >>> s.sort_values(key=lambda x: (np.tan(x.cumsum())))
    0   -4
    3    2
    4    4
    1   -2
    2    0
    dtype: int64

In [223]:
s = s.sort_values(ascending=False)
s

f    11
a    10
d     7
b     5
e     4
g    -3
c   -20
dtype: int64

In [224]:
s.sort_index()

a    10
b     5
c   -20
d     7
e     4
f    11
g    -3
dtype: int64

In [225]:
s.sort_index(ascending=False)

g    -3
f    11
e     4
d     7
c   -20
b     5
a    10
dtype: int64

In [226]:
s.sort_values().head(3)

c   -20
g    -3
e     4
dtype: int64

In [227]:
s.sort_values().tail(3)

d     7
a    10
f    11
dtype: int64

In [228]:
s.sort_values(ascending=False).head(3)

f    11
a    10
d     7
dtype: int64

In [229]:
s.nlargest(3)

f    11
a    10
d     7
dtype: int64

In [230]:
s.nsmallest(3)

c   -20
g    -3
e     4
dtype: int64

In [231]:
s = Series([10, 20, 30, 40, 50, 60, 70],
          index=list('abcdabc'))
s

a    10
b    20
c    30
d    40
a    50
b    60
c    70
dtype: int64

In [232]:
s.loc['a']

a    10
a    50
dtype: int64

In [233]:
s.loc['d']

40

In [234]:
s.loc['a':'c']

KeyError: "Cannot get left slice bound for non-unique label: 'a'"

In [235]:
s.sort_index().loc['a':'c']

a    10
a    50
b    20
b    60
c    30
c    70
dtype: int64

# Exercise: Temps

1. Use or create the `highs` series from before, making sure that the index contains the dates.
2. Find the 3 highest temperatures, first using a sort and then using `nlargest`.
3. Find the 3 lowest temperatures from 04.12 until 08.12.

In [236]:
highs

02    18.0
03     NaN
04    19.0
05    20.0
06     NaN
07    20.0
08     NaN
09    20.0
10    21.0
11    19.0
dtype: float64

In [237]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())
highs

02    18
03    18
04    19
05    20
06    19
07    20
08    19
09    20
10    21
11    19
dtype: int64

In [239]:
highs.sort_values(ascending=False).head(3)

10    21
05    20
07    20
dtype: int64

In [240]:
highs.nlargest(3)

10    21
05    20
07    20
dtype: int64

In [244]:
(
    highs
    .loc['04':'08']
    .nsmallest(3)
)

04    19
06    19
08    19
dtype: int64

In [245]:
(
    highs
    .loc['04':'08']
    .sort_values()
    .head(3)
)

04    19
06    19
08    19
dtype: int64

In [241]:
04

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (305468864.py, line 1)

# Data frames

In a data frame, we have:

- rows, identified by the index
- columns, identified by the columns

We can think of a data frame as a dict of Pandas Series objects.

In [246]:
df = DataFrame([[10, 20, 30], 
               [40, 50, 60],
               [70, 80, 90],
               [100, 110, 120]],
              index=list('abcd'),
              columns=list('xyz'))
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [247]:
# we want row 'a', so we use .loc

df.loc['a']

x    10
y    20
z    30
Name: a, dtype: int64

In [248]:
df.loc[['a', 'b']]   # fancy index

    x   y   z
a  10  20  30
b  40  50  60

In [249]:
df['y']    # use [] to get a column

a     20
b     50
c     80
d    110
Name: y, dtype: int64

In [250]:
df.y   # this also works!

a     20
b     50
c     80
d    110
Name: y, dtype: int64

In [251]:
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [253]:
# I want row b, column z

df.loc['b'].loc['z']

60

In [254]:
# we can instead do this:

df.loc['b', 'z']

60

In [255]:
df.loc['b':'c', 'z']

b    60
c    90
Name: z, dtype: int64

In [256]:
df.loc['b':'c', ['x', 'z']]

    x   z
b  40  60
c  70  90

In [257]:
df.loc['b':'c', 'x', 'z']

IndexingError: Too many indexers

In [258]:
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [259]:
df.loc[   df['x'] > 50  ]

     x    y    z
c   70   80   90
d  100  110  120

In [260]:
df['y']

a     20
b     50
c     80
d    110
Name: y, dtype: int64

In [261]:
df[ ['y'] ]

     y
a   20
b   50
c   80
d  110

In [263]:
df.loc[['a']]

    x   y   z
a  10  20  30

#  Methods

If we have a series method, we can (usually) run it on a data frame, getting one value back for each column.

In [264]:
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [265]:
df.sum()

x    220
y    260
z    300
dtype: int64

In [266]:
df.mean()

x    55.0
y    65.0
z    75.0
dtype: float64

In [267]:
df.describe()

                x           y           z
count    4.000000    4.000000    4.000000
mean    55.000000   65.000000   75.000000
std     38.729833   38.729833   38.729833
min     10.000000   20.000000   30.000000
25%     32.500000   42.500000   52.500000
50%     55.000000   65.000000   75.000000
75%     77.500000   87.500000   97.500000
max    100.000000  110.000000  120.000000

In [269]:
df.T.describe()

          a     b     c      d
count   3.0   3.0   3.0    3.0
mean   20.0  50.0  80.0  110.0
std    10.0  10.0  10.0   10.0
min    10.0  40.0  70.0  100.0
25%    15.0  45.0  75.0  105.0
50%    20.0  50.0  80.0  110.0
75%    25.0  55.0  85.0  115.0
max    30.0  60.0  90.0  120.0

# Reading data into data frames

- CSV ("comma separated values" or "character separated values")
- Excel (binary format, we get the dtypes)
- HTML?

In [271]:
!ls *.csv

burrito_current.csv	   languages.csv  titanic3.csv
celebrity_deaths_2016.csv  taxi.csv

In [272]:
!head taxi.csv

In [274]:
df = pd.read_csv('taxi.csv')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [275]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000

In [276]:
df['total_amount'].mean()

17.552472247224728

# Exercise: Taxi data

(If you are using your own computer, download `https://files.lerner.co.il/data-science-exercise-files.zip`.)

1. Read `taxi.csv` into a data frame with `read_csv`.
2. Use `describe` on `passenger_count`, `trip_distance`, and `total_amount`.
3. What was the most common value for `passenger_count`?
4. How many rides went 0 miles? (Check `trip_distance`.) How much did they pay on average (`total_amount`)?
5. How many rides cost 0 (check `total_amount`)? How far did they ride, on average (check `trip_distance`)

In [277]:
df = pd.read_csv('taxi.csv')

In [278]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [279]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [282]:
# 2. Use `describe` on `passenger_count`, `trip_distance`, and `total_amount`.

df[   ['passenger_count', 'trip_distance', 'total_amount']   ].describe()

       passenger_count  trip_distance  total_amount
count      9999.000000    9999.000000   9999.000000
mean          1.659466       3.158511     17.552472
std           1.333306       4.037516     15.137990
min           0.000000       0.000000     -7.800000
25%           1.000000       1.000000      8.800000
50%           1.000000       1.700000     12.800000
75%           2.000000       3.300000     19.800000
max           6.000000      64.600000    252.350000

In [286]:
# 3. What was the most common value for `passenger_count`?

df['passenger_count'].value_counts().head(1)

passenger_count
1    7207
Name: count, dtype: int64

In [290]:
# 4. How many rides went 0 miles? (Check `trip_distance`.) 
# How much did they pay on average (`total_amount`)?

df.loc[ df['trip_distance'] == 0  ,     # row selector
         'total_amount'].mean()         # column selector

31.581940298507465

In [295]:
# 5. How many rides cost 0 (check `total_amount`)? How far did they ride, on average (check `trip_distance`)

df.loc[ 
     df['total_amount'] <= 0,    # row selector -- index or a boolean series
     'trip_distance'             # column selector -- one or more column names
].mean()

0.6066666666666667

In [296]:
df['passenger_count'].value_counts()

passenger_count
1    7207
2    1313
5     520
3     406
6     369
4     182
0       2
Name: count, dtype: int64

In [298]:
df['passenger_count'].value_counts().iloc[2]

520

In [300]:
# only show values above > 400

passenger_count_stats = df['passenger_count'].value_counts()

passenger_count_stats.loc[passenger_count_stats > 400]

passenger_count
1    7207
2    1313
5     520
3     406
Name: count, dtype: int64

# Common options to `read_csv`

- `usecols` -- list of column names we want to read
- `sep` -- separator between fields (by default, `','`)
- `header` -- on which line are the headers (i.e., column names). If there aren't any headers, then we can set `header=None`.
- `index_col` -- what column should be used as our index?

In [302]:
df = pd.read_csv('taxi.csv', 
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])
df

      passenger_count  trip_distance  total_amount
0                   1           1.63         17.80
1                   1           0.46          8.30
2                   1           0.87         11.00
3                   1           2.13         17.16
4                   1           1.40         10.30
...               ...            ...           ...
9994                1           2.70         12.30
9995                1           4.50         20.30
9996                1           5.59         22.30
9997                6           1.54          7.80
9998                1           5.80         26.75

[9999 rows x 3 columns]

# Index

- We can set a column to be the index with `set_index`
- We can move the index back to a regular column with `reset_index`

In [303]:
df = pd.read_csv('taxi.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [305]:
df = df.set_index('tpep_pickup_datetime')
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [306]:
df.loc['2015-06-02 11:19:29']

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
2015-06-02 11:19:29,1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
2015-06-02 11:19:29,1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [307]:
df = df.reset_index()
df.head()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [308]:
df = pd.read_csv('taxi.csv',
                index_col='tpep_pickup_datetime')
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [309]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0


In [310]:
!ls *.csv

burrito_current.csv	   languages.csv  titanic3.csv
celebrity_deaths_2016.csv  taxi.csv

In [312]:
df = pd.read_csv('titanic3.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Exercise: