# Agenda

1. Day 1 -- fundamentals
    - What is a programming language? WHat is Python?
    - Values and variables
    - Comparisons
    - `if`/`else`
    - input + output
    - Numbers (int, float)
    - Strings (text)
    
2. More complexity in data and programs
    - List, tuple
    - Dictionary
    - From strings to lists, and back
    - Files (reading from)
    - Modules (and packages)
    - Functions (maybe)
    
3. Pandas 
    - Series (1D)
    - Data frame (2D)
    - dtypes and `NaN`
    - Methods (functionality) 
    
4. More advanced Pandas
    - Reading from CSV, Excel
    - Grouping, sorting, pivot tables
    - Visualization

In [2]:
print('Hello out there!')

Hello out there!

In [3]:
# python.lerner.co.il
# boipw!!

This is a cell. 

- Edit mode. When I type, Jupyter puts it into the cell. Click in the cell or press ENTER to get into edit mode.
- Command mode. When I type, Jupyter gets a command from me. Click on the left or press ESC.

Commands that I can give to Jupyter:
- `x` -- cut the cell 
- `c` -- copy the cell
- `v` -- paste the cell
- `m` -- Markdown mode, for documentation
- `y` -- code  mode, for Python
- `a` -- new cell *above* the current one
- `b` -- new cell *below* the current one

shift + ENTER: Execute the cell

In [5]:
print('hello again!')
print('hello again again!')

hello again!
hello again again!

# `print`

`print` is a function. You must use `()` to make `print` do something!

We can put, inside of the `()`, any value we want:

- Numbers
- Text (inside of `''`, `""`)
- Expression

In [6]:
print(5)

5

In [7]:
print(5)
print('hello')
print(6)

5
hello
6

In [8]:
print(10 + 5)

15

In [9]:
print('hello' + 'there')

hellothere

In [10]:
print('hello ' + 'there')

hello there

In [11]:
print('My favorite number is ' + 10)

TypeError: can only concatenate str (not "int") to str

In [12]:
print('10' + '20')

1020

# Exercise: Start with Jupyter

1. On the server, create a new notebook ( new -> Python 3)
2. Change the notebook's name to reflect your name and the date.
3. Print a greeting to yourself in Python, using `print`.

In [14]:
print('Hello, Reuven')

Hello, Reuven

In [15]:
# This is a comment

print('Hello' + ' Reuven')   # this is also a comment

Hello Reuven

In [17]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

# Variables and assignment

We can assign to a variable with `=`.  We assign the value on the right into the variable on the left.

What can we name a variable?

- Any combination of letters, digits, and `_`
- We normally only use lowercase letters 
- You cannot put a digit at the start of a variable name
- Don't use `_` on the ends (left or right) of your variable name

Use good names for your variables!

In [20]:
x = 100

print(x)

100

In [21]:
name = 'Reuven'

print('Hello, ' + name)

Hello, Reuven

In [22]:
print('Hello, ' + 'name')

Hello, name

In [23]:
x = 100
print(x)

100

In [24]:
# Only in Jupyter
# if the final line is an expression or  a value, we see it right away

x

100

In [25]:
x + 5

105

In [26]:
10 + 10
20 + 20
30 + 30

60

In [27]:
x

100

In [28]:
# what kind of value is in x?

type(x)

int

In [31]:
x = 'abcd'
type(x)

str

In [31]:
x = 'abcd'
type(x)

str

In [32]:
x = 10
y = 10


# are x and y the same?
x == y

True

# Comparison operators

- `=` -- assignment, a command to assign
- `==` -- comparisons, asks a question

Every comparison operator returns `True` or `False`. They are:

- `==` -- are the two things equal?
- `!=` -- are the two things *NOT* equal?
- `>` -- is the left bigger than the right?
- `>=` -- is the left bigger than or equal to the right?
- `<` -- is the left smaller than the right?
- `<=` -- is the left smaller than or equal to the right?

In [33]:
100 < 200

True

In [34]:
100 < 10

False

In [35]:
100 < 20

False

In [36]:
'apple' < 'banana'

True

In [37]:
'apple' < 'Banana'

False

In [38]:
'100' < '20'

True

In [39]:
'100' < 'apple'

True

In [40]:
# assignment! 

'apple' = 'banana'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4129678310.py, line 3)

In [41]:
apple = 'banana'

In [42]:
apple == 'apple'

False

# Getting input from the user

Use the `input` function to get input from the user.  Whatever the user types is returned by `input` as a string. 

Usually, we'll put `input` on the right side of assignment.

In [48]:
name = input('Enter your name: ')

Enter your name: Reuven

In [49]:
print('Hello, ' + name + "!")

Hello, Reuven!

# Exercise:

1. Ask the user for their name and city, assigning to *two* variables.
2. Print a greeting to the user, using both.

In [50]:
name = input('Enter your name: ')
city = input('Enter your city: ')

print('Hello, ' + name + ', from ' + city + '!')

Enter your name: Reuven
Enter your city: Modi'in
Hello, Reuven, from Modi'in!

In [51]:
# f-string (format string)
# - before the opening quote, put an f
# - {} in the string with a value/expression is replaced
# - the {} are turned into strings

print(f'Hello, {name}, from {city}!')

Hello, Reuven, from Modi'in!

In [52]:
x = 10
y = 20

print(f'{x} + {y} = {x+y}')

10 + 20 = 30

# `if` and `else`

1. To the right of `if`, we need an expression that returns `True` or `False`
2. At the end of the line, we have `:`
3. Indented block of at least one line
4. Optional `else:` (without a comparison) and a block

In [56]:
name = input('Enter your name: ')

if name == 'Reuven':
    print("Hello, boss!")
    print('Great to see you again!')
else:
    print(f'Hello, {name}, whoever you are')    
    
print('Continuing...')

Enter your name: Reuven
Hello, boss!
Great to see you again!
Continuing...

# Exercise: Greeting based on name

1. Ask the user for their name
2. If it's your name, print one thing
3. If it's another name, print another thing

In [ ]:
# github.com/reuven/
# repositories

# github.com/reuven/boi-autumn-2024

In [57]:
name = input('Enter your name: ')

if name == 'Reuven':
    print('Hello, you amazing person!')
else:
    print(f'Hello, {name}')

Enter your name: Reuven
Hello, you amazing person!

In [61]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')

if word1 < word2:
    print(f'{word1} comes before {word2}')
else:
    print(f'{word2} comes before {word1}')

Enter first word: gold
Enter second word: gold
gold comes before gold

# More complex conditions

We can use not just `if` and `else`, but also `elif` -- which has its own condition. I can have as many `elif` clauses as I want. The first that returns `True` runs. If none is `True`, then `else` runs.

In [62]:
x = 50

if x > 10:
    print('Bigger than 10')
elif x > 30:
    print('Bigger than 30')
elif x > 50:
    print('Bigger than 50')
elif x > 70:
    print('Bigger than 70')
elif x > 90:
    print('Bigger than 90')
else:
    print('Who knows?')

Bigger than 10

In [66]:
x = 5

if x > 90:
    print('Bigger than 90')
elif x > 70:
    print('Bigger than 70')
elif x > 50:
    print('Bigger than 50')
elif x > 30:
    print('Bigger than 30')
elif x > 10:
    print('Bigger than 10')
else:
    print('Who knows?')

Who knows?

# Exercise: Which comes first?

1. Ask the user to enter two words.
2. Print which word comes first alphabetically.
3. If the user entered the same word twice, say so.

In [68]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')

if word1 < word2:
    print(f'{word1} comes before {word2}')
elif word1 > word2:
    print(f'{word2} comes before {word1}')
else:
    print(f'{word1} and {word2} are the same')

Enter first word: taxi
Enter second word: cab
cab comes before taxi

In [69]:
# "and" returns True if both sides (left and right) are True -- otherwise, False

x = 10
y = 20

#  True   and      True
x == 10   and     y == 20

True

In [70]:
if x == 10 and y == 20:
    print('yes, both are what we want!')

yes, both are what we want!

In [71]:
#  True   and      False
x == 10   and     y == 50

False

In [72]:
if x == 10 and y == 50:
    print('yes, both are what we want!')

In [73]:
# "or" returns True if the left *OR* the right is True, False otherwise

if x == 10 or y == 50:
    print('At least one is what you want')

At least one is what you want

In [74]:
# "not" looks right, and flips the logic from True->False or False->True

# Exercise: Name and city

1. Ask the user to enter (in two questions) their name and city, and assign to two variables.
2. If the name + city are the same as you, print "You must be me"
3. If the name is the same but the city isn't, print "Nice name, bad city"
3. If the city is the same but the name isn't, print "We live in the same city"
4. If neither is the same, then say "Bad name and bad city"

In [75]:
# not equal is the != operator

In [80]:
my_name = 'Reuven'
my_city = 'Modiin'

name = input('Enter your name: ')
city = input('Enter your city: ')

if name == my_name and city == my_city:
    print(f'You must be me!')
elif name == my_name:
    print(f'Great name, bad city')
elif city == my_city:
    print(f'Great city, bad name')
else:
    print(f'Bad everything!')

Enter your name: Reuven
Enter your city: b

NameError: name 'Reuven' is not defined

# Next up

- Numbers
- Strings

In [ ]:
github.com/reuven

# Numbers

There are two types of numbers in Python:

- `int` -- integer, whole numbers
- `float` -- numbers with a decimal point

In [81]:
x = 123456

type(x)

int

In [82]:
x = 1_234_567_890

print(x)

1234567890

In [83]:
print(x+3)

1234567893

In [84]:
print(x)

1234567890

In [85]:
print(f'{x}')

1234567890

In [91]:
print(f'Number is {x:_>15}')

Number is _____1234567890

In [92]:
print(f'Number is {x:,}')

Number is 1,234,567,890

Go to https://fstring.help/ for full info about f-strings and "format specs" after the `:`

In [93]:
x = 10
y = 3

In [94]:
# operators

x + y

13

In [95]:
x - y

7

In [96]:
x * y   # multiplication

30

In [97]:
x / y     # truediv -- always returns a float

3.3333333333333335

In [98]:
x // y     # floordiv -- always returns an int

3

In [101]:
x = 10
y = 3

x % y    # modulus -- remainder

1

In [100]:
x ** y   # exponentiation

1000

In [102]:
x / 0

ZeroDivisionError: division by zero

In [ ]:
# CalRel  -- calendar releases

In [103]:
x = 10

# add 1 to x

x = x + 1
x

11

In [104]:
# short form of this

x += 1    # same as x = x + 1

In [105]:
x = '10'
y = 20

x + y

TypeError: can only concatenate str (not "int") to str

In [107]:
# I want to get an int based on x

int(x) + y

30

In [108]:
x + str(y)

'1020'

In [109]:
x = int(x)
x

10

In [110]:
type(x)

int

In [111]:
x + y

30

# Exercise: Guessing game

1. Choose a secret integer, and assign to `secret`.
2. Ask the user to enter a guess, and assign to `guess`.
3. Depending on the user's input, tell them that they are too low, too high, or just right.

In [116]:
secret = 72

guess = input('Enter your guess: ')
guess = int(guess)

if guess == secret:
    print('You got it!')
elif guess > secret:
    print('Too high!')
else:
    print('Too low!')

Enter your guess: hello

ValueError: invalid literal for int() with base 10: 'hello'