In [1]:
import random

In [2]:
random.randint(0, 100)

62

In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

# Data types: Series and DataFrame

In [5]:
s = Series(    [10, 20, 30, 40, 50, 60, 70]     )

In [6]:
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [7]:
s[0]

10

In [8]:
s[1]

20

In [9]:
s = Series(    'this is a test'.split()  )
s

0    this
1      is
2       a
3    test
dtype: object

In [10]:
s = Series(    [10, 20, 30, 40, 50, 60, 70]     )
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [11]:
# slice?
s[2:5]

2    30
3    40
4    50
dtype: int64

In [12]:
s[3] = 999
s

0     10
1     20
2     30
3    999
4     50
5     60
6     70
dtype: int64

In [13]:
s[4] = 12.34

/tmp/ipykernel_1583/2558586753.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.34' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s[4] = 12.34