# Agenda

- Strings
- Cleaning data
- Datetimes
- Grouping + pivot tables
- Join + merge
- Plotting

URL: https://python.lerner.co.il

In [1]:
!ls *.csv

burrito_current.csv	   languages.csv  titanic3.csv
celebrity_deaths_2016.csv  taxi.csv

In [12]:
import pandas as pd

In [3]:
df = pd.read_csv('taxi.csv')

In [4]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [5]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30

In [6]:
# .loc -- with the index

df.loc[2]

VendorID                                   2
tpep_pickup_datetime     2015-06-02 11:19:31
tpep_dropoff_datetime    2015-06-02 11:30:30
passenger_count                            1
trip_distance                           0.87
pickup_longitude                  -73.978111
pickup_latitude                    40.738434
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_longitude                 -73.990273
dropoff_latitude                   40.745438
payment_type                               1
fare_amount                              8.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               2.2
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                            11.0
Name: 2, dtype: object

In [7]:
# .loc -- with fancy indexing

df.loc[ [2, 4]]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.2,0.0,0.3,11.0
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.0,0.0,0.3,10.3

In [8]:
# .loc -- (a) row selector, (b) column selector

df.loc[  
        [2, 4] ,   # these rows
        ['passenger_count', 'trip_distance', 'total_amount']   # these columns
]

   passenger_count  trip_distance  total_amount
2                1           0.87          11.0
4                1           1.40          10.3

In [9]:
# .loc witih a boolean index for rows

df.loc[
    df['passenger_count'] == 4     # use as a boolean index
]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
107,2,2015-06-02 11:20:50,2015-06-02 11:33:48,4,1.48,-73.965858,40.758888,1,N,-73.965858,40.758888,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96
128,2,2015-06-02 11:21:07,2015-06-02 11:44:10,4,3.46,-73.981262,40.749622,1,N,-74.010216,40.720074,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
130,2,2015-06-02 11:21:09,2015-06-02 11:24:48,4,0.63,-73.962616,40.772381,1,N,-73.957092,40.780083,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
135,1,2015-06-02 11:21:13,2015-06-02 11:42:13,4,6.20,-73.989975,40.750702,1,N,-74.014153,40.712116,2,22.5,0.0,0.5,0.00,0.00,0.3,23.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9565,2,2015-06-01 00:10:46,2015-06-01 00:17:33,4,1.38,-73.986282,40.755833,1,N,-73.985001,40.768688,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
9642,1,2015-06-01 00:11:41,2015-06-01 00:36:27,4,6.70,-73.984970,40.736481,1,N,-73.947731,40.657990,1,23.5,0.5,0.5,4.95,0.00,0.3,29.75
9661,1,2015-06-01 00:11:17,2015-06-01 00:28:52,4,4.50,-73.955803,40.714054,1,N,-73.953705,40.670975,1,16.5,0.5,0.5,3.56,0.00,0.3,21.36
9744,1,2015-06-01 00:12:19,2015-06-01 00:19:43,4,1.50,-73.986771,40.721313,1,N,-73.983368,40.738445,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
9794,2,2015-06-01 00:12:39,2015-06-01 00:39:03,4,17.34,-73.788551,40.642056,2,N,-73.982697,40.745148,1,52.0,0.0,0.5,11.67,5.54,0.3,70.01

In [10]:
df.loc[
    df['passenger_count'] == 4     # use as a boolean index 
    ,
    ['trip_distance', 'total_amount']
]

      trip_distance  total_amount
7             11.90         73.84
107            1.48         12.96
128            3.46         20.16
130            0.63          5.30
135            6.20         23.30
...             ...           ...
9565           1.38          8.30
9642           6.70         29.75
9661           4.50         21.36
9744           1.50          8.80
9794          17.34         70.01

[182 rows x 2 columns]

In [11]:
# fillna, dropna -- deal with NaN values

In [12]:
from pandas import Series, DataFrame

In [17]:
s = pd.Series('this is a bunch of words for my course'.split())

In [14]:
s

0      this
1        is
2         a
3     bunch
4        of
5     words
6       for
7        my
8    course
dtype: object

In [15]:
# what is the length of each word?

# .str accessor

s.len()

AttributeError: 'Series' object has no attribute 'len'

In [16]:
s.str.len()   # run len() on every value

0    4
1    2
2    1
3    5
4    2
5    5
6    3
7    2
8    6
dtype: int64

# What methods do we have?

- All Python string methods
- Operators such as `[]` are implemented as methods
- Other methods from other languages

In [19]:
# I want all of the words in s whose length is greater than the mean

s.str.len() > s.str.len().mean()

0     True
1    False
2    False
3     True
4    False
5     True
6    False
7    False
8     True
dtype: bool

In [20]:
s.loc[   s.str.len() > s.str.len().mean()     ]

0      this
3     bunch
5     words
8    course
dtype: object

In [27]:
# .str.get -- instead of []
# .str.contains -- instead of in

s.str.get(0).str.contains('a')

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [28]:
# 
s.str.get(0).str.contains('[aeiou]', regex=True)

0    False
1     True
2     True
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool

In [29]:
s = Series('10 20 30 hello 40 50 goodbye'.split())
s

0         10
1         20
2         30
3      hello
4         40
5         50
6    goodbye
dtype: object

In [30]:
s.astype(int)

ValueError: invalid literal for int() with base 10: 'hello'

In [31]:
# find all int'able strings
# keep just them
# convert to ints

s.str.isdigit()

0     True
1     True
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [33]:
s.loc[s.str.isdigit()].astype(int)

0    10
1    20
2    30
4    40
5    50
dtype: int64

In [36]:
s.loc[s.str.isdigit()].astype(int)

0    10
1    20
2    30
4    40
5    50
dtype: int64

In [38]:
# how long is our series?
len(s) #  -- how many are there?

7

In [40]:
s.count()   # how many non-NaN values are there?

7

In [41]:
# fastest answer comes from

len(s.index)

7

In [1]:
Exercise: Working with strings
Ask the user to enter a string containing both integers and non-integers, with words between them.
What is the mean length of the words that are not digits/numbers?
What is the longest word from those that are not digits/numbers?
What is the mean of the digits/numbers we entered?

SyntaxError: invalid syntax (2772607369.py, line 1)

In [19]:
a = input("Please in sert a string with integer and non integer with words between:")
s = pd.Series(a.split())

Please in sert a string with integer and non integer with words between:32423 ewrew 43243

In [20]:
s

0    32423
1    ewrew
2    43243
dtype: object

In [21]:
# What is the mean length of the words that are not digits/numbers?

(
    s                        # start with series of words
    .loc[~s.str.isdigit()]   # keep only non-digit words
    .str.len()               # get length of each word
    .mean()                  # calculate mean on the series of lengths
)




 #What is the longest word from those that are not digits/numbers?

max_word_length = (
    s                        # start with series of words
    .loc[~s.str.isdigit()]   # keep only non-digit words
    .str.len()               # get length of each word
    .max()                  # calculate mean on the series of lengths
)

s.loc[s.str.len() == max_word_length]




# What is the mean of the digits/numbers we entered?

(
    s                        # start with series of words
    .loc[s.str.isdigit()]    # keep only digit words
    .astype(int)             # get a series of ints
    .describe()
)

count        2.000000
mean     37833.000000
std       7650.895372
min      32423.000000
25%      35128.000000
50%      37833.000000
75%      40538.000000
max      43243.000000
dtype: float64

In [22]:
df = pd.read_csv('taxi.csv',
                 parse_dates=['tpep_pickup_datetime',
                             'tpep_dropoff_datetime'])
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [29]:
#Load taxi.csv into a data frame, setting tpep_pickup_datetime and tpep_dropoff_datetime as datetime values.
#What was the mean total_amount for trips that took place before 12:00? (From 0 - 12)
#What was the mean trip_distance for trips that took place on Tuesday?


(df['tpep_pickup_datetime'].dt.hour>12).mean()

0.31643164316431643

In [60]:
(df['total_amount']*(df['tpep_pickup_datetime'].dt.hour<12)).mean()
df[(df['tpep_pickup_datetime'].dt.hour>0) & (df['tpep_pickup_datetime'].dt.hour<12)]['total_amount'].mean()

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (4040608289.py, line 2)

In [58]:
((df['trip_distance'])*(df['tpep_pickup_datetime'].dt.day_name() =='Tuesday')).mean()

1.1699799979998

In [64]:
(df['total_amount']*(df['tpep_pickup_datetime'].dt.hour>12)).mean()

5.644110411041105

In [41]:
((df['trip_distance'])*(df['tpep_pickup_datetime'].dt.day_name() =='Tuesday')).mean()

1.1699799979998

In [61]:
df[(df['tpep_pickup_datetime'].dt.hour>0) & (df['tpep_pickup_datetime'].dt.hour<12)]['total_amount'].mean()

16.58209508644222

In [63]:
(df['total_amount']*(df['tpep_pickup_datetime'].dt.hour>12)).mean()

5.644110411041105

In [67]:
df.loc[df['tpep_pickup_datetime'].dt.hour>12, 'total_amount'].mean()

17.836744627054365

In [68]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [69]:
df['trip time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']

In [72]:
df.dtypes

VendorID                           int64
tpep_pickup_datetime      datetime64[ns]
tpep_dropoff_datetime     datetime64[ns]
passenger_count                    int64
trip_distance                    float64
pickup_longitude                 float64
pickup_latitude                  float64
RateCodeID                         int64
store_and_fwd_flag                object
dropoff_longitude                float64
dropoff_latitude                 float64
payment_type                       int64
fare_amount                      float64
extra                            float64
mta_tax                          float64
tip_amount                       float64
tolls_amount                     float64
improvement_surcharge            float64
total_amount                     float64
trip time                timedelta64[ns]
dtype: object

In [73]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip time
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80,0 days 00:28:23
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0 days 00:08:26
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00,0 days 00:10:59
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16,0 days 00:19:31
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0 days 00:13:17

In [74]:
df['trip time'].min()

Timedelta('0 days 00:00:00')

In [82]:
df.loc[ df['trip time'] == df['trip time'].max() ]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip time
126,2,2015-06-02 11:21:03,2015-06-03,3,1.06,-73.994919,40.732445,1,N,-73.99398,40.743397,1,8.5,0.0,0.5,1.86,0.0,0.3,11.16,0 days 12:38:57

In [100]:
print(df['trip time'].max())
df.loc[df['trip time'] == df['trip time'].max(), 'total_amount']
#df.loc[df['trip time'] == df['trip time'].min(), 'total_amount']

0 days 12:38:57

126    11.16
Name: total_amount, dtype: float64

In [108]:
#df.loc[df['trip time'] == df['trip time'].min()].mean()
df.loc[df['trip time'] == df['trip time'].min(), 'total_amount']

297      2.30
3771     3.30
3919     3.30
4063    12.30
4103    15.30
5247    15.30
5798     3.80
7716    22.80
8168    58.34
8625     3.80
9016     6.30
9693    18.80
9761     5.80
Name: total_amount, dtype: float64

In [86]:
df.loc[ df['trip time'] == df['trip time'].min(), 'trip time' ]

297    0 days
3771   0 days
3919   0 days
4063   0 days
4103   0 days
5247   0 days
5798   0 days
7716   0 days
8168   0 days
8625   0 days
9016   0 days
9693   0 days
9761   0 days
Name: trip time, dtype: timedelta64[ns]

In [98]:
print(df.loc[   df['trip time'] > '4 hour'   ,'total_amount'].mean())
print(df.loc[   df['trip time'] > '4 hour'   ,'total_amount'].count())
df.loc[   df['trip time'] > '4 hour' ]

47.14
2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip time
126,2,2015-06-02 11:21:03,2015-06-03 00:00:00,3,1.06,-73.994919,40.732445,1,N,-73.993980,40.743397,1,8.5,0.0,0.5,1.86,0.0,0.3,11.16,0 days 12:38:57
3270,2,2015-06-02 11:28:17,2015-06-02 16:22:31,6,0.02,0.000000,0.000000,5,N,-73.981468,40.767799,1,66.0,0.0,0.5,16.62,0.0,0.0,83.12,0 days 04:54:14

In [97]:
print(df.loc[   df['trip time'] < '1 minute'   ,'total_amount'].mean())
print(df.loc[   df['trip time'] < '1 minute'   ,'total_amount'].count())
df.loc[   df['trip time'] > '1 minute' ]

31.93892857142858
84

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip time
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80,0 days 00:28:23
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0 days 00:08:26
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00,0 days 00:10:59
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16,0 days 00:19:31
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0 days 00:13:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30,0 days 00:11:19
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30,0 days 00:15:17
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30,0 days 00:24:25
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0 days 00:06:08
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75,0 days 00:23:29

In [111]:
df.loc[ df['trip time'] == df['trip time'].min(), 'total_amount' ].mean()

13.187692307692313

In [112]:
#Load into a data frame ../data/winemag-150k-reviews.csv.
#How much memory does this use? How much does it tell you the data frame uses, if you don't do a "deep" check?
#What columns will/won't be useful with categories?
#Convert some/all to categories, and compare with what was earlier.

In [113]:
!ls ../data/*.csv

../data/2020_sharing_data_outside.csv	 ../data/oecd_locations.csv
../data/CPILFESL.csv			 ../data/oecd_tourism.csv
../data/albany,ny.csv			 ../data/olympic_athlete_events.csv
../data/boston,ma.csv			 ../data/san+francisco,ca.csv
../data/celebrity_deaths_2016.csv	 ../data/sat-scores.csv
../data/chicago,il.csv			 ../data/skyscrapers.csv
../data/eu_cpi.csv			 ../data/so_2021_survey_results.csv
../data/eu_gdp.csv			 ../data/springfield,il.csv
../data/ice-cream.csv			 ../data/springfield,ma.csv
../data/los+angeles,ca.csv		 ../data/taxi-distance.csv
../data/miles-traveled.csv		 ../data/taxi-passenger-count.csv
../data/new+york,ny.csv			 ../data/us-median-cpi.csv
../data/nyc-parking-violations-2020.csv  ../data/us-unemployment-rate.csv
../data/nyc_taxi_2019-01.csv		 ../data/us_gdp.csv
../data/nyc_taxi_2019-07.csv		 ../data/winemag-150k-reviews.csv
../data/nyc_taxi_2020-01.csv		 ../data/wti-daily.csv
../data/nyc_taxi_2020-07.csv

In [122]:
filename = '../data/winemag-150k-reviews.csv'

df = pd.read_csv(filename)

In [115]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB

In [117]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 105.8 MB

In [118]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [119]:
#df['Team'] = df['Team'].astype('category')
df.describe() #include='object'

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [120]:
df.describe(include='object')

,country,description,designation,province,region_1,region_2,variety,winery
count,150925,150930,105195,150925,125870,60953,150930,150930
unique,48,97821,30621,455,1236,18,632,14810
top,US,A little bit funky and unsettled when you pop ...,Reserve,California,Napa Valley,Central Coast,Chardonnay,Williams Selyem
freq,62397,6,2752,44508,6209,13057,14482,374

In [129]:
for one_column in ['country', 'designation', 'province', 'region_1',
                   'region_2', 'winery','description']:
    df[one_column] = df[one_column].astype('category')
    
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  category
 2   description  150930 non-null  category
 3   designation  105195 non-null  category
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  category
 7   region_1     125870 non-null  category
 8   region_2     60953 non-null   category
 9   variety      150930 non-null  category
 10  winery       150930 non-null  category
dtypes: category(8), float64(1), int64(2)
memory usage: 45.8 MB

In [126]:
for one_column in ['country', 'province',
                   'region_2','variety','winery','region_1']:
    df[one_column] = df[one_column].astype('category')
    
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  category
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  category
 7   region_1     125870 non-null  category
 8   region_2     60953 non-null   category
 9   variety      150930 non-null  category
 10  winery       150930 non-null  category
dtypes: category(6), float64(1), int64(2), object(2)
memory usage: 60.0 MB

In [127]:
for one_column in ['country', 'province',
                   'region_2','variety','winery','region_1','description']:
    df[one_column] = df[one_column].astype('category')
    
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  category
 2   description  150930 non-null  category
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  category
 7   region_1     125870 non-null  category
 8   region_2     60953 non-null   category
 9   variety      150930 non-null  category
 10  winery       150930 non-null  category
dtypes: category(7), float64(1), int64(2), object(1)
memory usage: 50.5 MB

In [130]:
for one_column in ['country', 'province',
                   'region_2','variety','winery','region_1','description',]:
    df[one_column] = df[one_column].astype('category')
    
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  category
 2   description  150930 non-null  category
 3   designation  105195 non-null  category
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  category
 7   region_1     125870 non-null  category
 8   region_2     60953 non-null   category
 9   variety      150930 non-null  category
 10  winery       150930 non-null  category
dtypes: category(8), float64(1), int64(2)
memory usage: 45.8 MB

In [131]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [132]:
df.loc[df['province'] == 'California','points'].mean()

87.68273119439202

In [133]:
df.loc[df['province'] == 'Provence','points'].mean()

88.25465230166503

In [134]:
df.loc[df['province'] == 'Northern Spain','points'].mean()

86.78720359771054

In [139]:
df.groupby('province')['points'].mean().sort_values

/tmp/ipykernel_688483/4162628876.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('province')['points'].mean().sort_values

<bound method Series.sort_values of province
Achaia                   83.500000
Aconcagua Costa          89.200000
Aconcagua Valley         87.288660
Aegean                   88.500000
Ahr                      88.000000
                           ...
Zenata                   88.500000
Zitsa                    82.000000
Österreichischer Sekt    86.450000
Štajerska                86.600000
Župa                     88.090909
Name: points, Length: 455, dtype: float64>

In [141]:
df.groupby('country')['points'].mean().sort_values()

/tmp/ipykernel_688483/4260947682.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('country')['points'].mean().sort_values()

country
South Korea               81.500000
Montenegro                82.000000
China                     82.000000
Brazil                    83.240000
Slovakia                  83.666667
Egypt                     83.666667
Lithuania                 84.250000
Uruguay                   84.478261
Ukraine                   84.600000
Moldova                   84.718310
Bosnia and Herzegovina    84.750000
Mexico                    84.761905
Macedonia                 84.812500
Romania                   84.920863
Japan                     85.000000
Bulgaria                  85.467532
Georgia                   85.511628
Lebanon                   85.702703
Czech Republic            85.833333
Cyprus                    85.870968
Argentina                 85.996093
Tunisia                   86.000000
Greece                    86.117647
Croatia                   86.280899
Chile                     86.296768
Spain                     86.646589
Luxembourg                87.000000
Israel                    87.176190
South Africa              87.225421
Switzerland               87.250000
Hungary                   87.329004
New Zealand               87.554217
India                     87.625000
Serbia                    87.714286
US                        87.818789
Australia                 87.892475
US-France                 88.000000
Albania                   88.000000
Portugal                  88.057685
Turkey                    88.096154
Morocco                   88.166667
Slovenia                  88.234043
Canada                    88.239796
Italy                     88.413664
Germany                   88.626427
France                    88.925870
Austria                   89.276742
England                   92.888889
Name: points, dtype: float64

In [144]:
df = pd.read_csv('taxi.csv',
                 parse_dates=['tpep_pickup_datetime',
                             'tpep_dropoff_datetime'])
#df.dtypes

In [143]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [145]:
df.groupby('passenger_count')['total_amount'].mean().sort_values()

passenger_count
5    17.211269
1    17.368569
6    17.401355
3    17.994704
2    18.406306
4    18.881648
0    25.570000
Name: total_amount, dtype: float64

In [155]:
df['tip percent'] = df['tip_amount'] / df['total_amount']

In [153]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tip percent
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80,0.000000
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0.153846
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00,0.275000
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16,0.211852
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0.000000

In [156]:
df.groupby('passenger_count')['tip percent'].mean().sort_values()

passenger_count
4    0.077067
6    0.086075
3    0.087368
2    0.088309
1    0.092880
5    0.094349
0    0.183127
Name: tip percent, dtype: float64

In [157]:
df.groupby('VendorID')['tip percent'].mean().sort_values()

VendorID
1    0.091538
2    0.091680
Name: tip percent, dtype: float64

In [154]:
df.groupby('passenger_count')['fare_amount'].mean().sort_values()

passenger_count
5    14.024038
1    14.245803
6    14.486450
3    14.985222
2    15.125666
4    15.706044
0    17.250000
Name: fare_amount, dtype: float64

In [160]:
df.pivot_table(index='passenger_count',
              columns='VendorID',
              values='tip percent',
              aggfunc='mean')

VendorID                1         2
passenger_count
0                0.183127       NaN
1                0.093319  0.092330
2                0.086343  0.089924
3                0.072738  0.096592
4                0.076237  0.077550
5                0.000000  0.094896
6                     NaN  0.086075

In [163]:
df.groupby('VendorID')[['tip percent','total_amount']].mean()

          tip percent  total_amount
VendorID
1            0.091538     17.325272
2            0.091680     17.765027

In [165]:
df.groupby(['passenger_count','VendorID'])[['tip percent','total_amount']].mean()

                          tip percent  total_amount
passenger_count VendorID
0               1            0.183127     25.570000
1               1            0.093319     16.941386
                2            0.092330     17.904989
2               1            0.086343     19.076807
                2            0.089924     17.855770
3               1            0.072738     19.002803
                2            0.096592     17.359076
4               1            0.076237     20.518657
                2            0.077550     17.927913
5               1            0.000000     20.466667
                2            0.094896     17.192379
6               2            0.086075     17.401355