In [2]:
import pandas as pd
df = pd.read_csv('taxi.csv')

df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [3]:
df.loc[[2]]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.2,0.0,0.3,11.0

In [6]:
df.loc[
    df['trip_distance'] > 20     # use as a boolean index 
    ,
    ['trip_distance', 'total_amount']
]

      trip_distance  total_amount
88            23.76         94.00
809           35.51        135.13
1597          20.90         58.34
1640          28.80         72.92
1833          21.00        114.36
...             ...           ...
9368          20.30         60.00
9371          20.36         61.30
9394          20.05        110.46
9663          20.61         60.80
9685          21.10         69.99

[75 rows x 2 columns]

In [10]:
from pandas import Series, DataFrame
s= Series('this is a bounch of words'.split())
s

0      this
1        is
2         a
3    bounch
4        of
5     words
dtype: object

In [11]:
s.str.len()

0    4
1    2
2    1
3    6
4    2
5    5
dtype: int64

In [12]:
s.loc [ s.str.len() > s.str.len().mean() ]

0      this
3    bounch
5     words
dtype: object

In [13]:
text = input('Enter your string: ')

Enter your string: 11 roee 45 thanks 98 work 89

In [16]:
s = Series(text.split())
s

0        11
1      roee
2        45
3    thanks
4        98
5      work
6        89
dtype: object

In [18]:
s.loc[s.str.isdigit==False]

KeyError: 'False: boolean label can not be used without a boolean index'