In [1]:
import random

random.randint(0,100)

62

In [4]:
import pandas as pd
from pandas import Series, DataFrame

s= Series([10,20,30,40,50,70])
s

0    10
1    20
2    30
3    40
4    50
5    70
dtype: int64

In [6]:
s.sum()

220

In [30]:
maxTemp = Series([30,29,28,32,33,35,26,27,31,32])

print(maxTemp.describe())
print(f'Maximum temp in first 5 days: maxTemp[0:5].max()')

count    10.000000
mean     30.300000
std       2.830391
min      26.000000
25%      28.250000
50%      30.500000
75%      32.000000
max      35.000000
dtype: float64
Maximum temp in first 5 days: maxTemp[0:5].max()

In [41]:
age = Series([47,46,19,16,12,5,67],index=('Roee Einat talia Raz Noga Eyal Shosy').split())
print (f'Over the mean:\n{age.loc[age>age.mean()]}\n')
print (f'1 sd below mean:\n{age.loc[age<(age.mean()-age.std())]}')

Over the mean:
Roee     47
Einat    46
Shosy    67
dtype: int64

1 sd below mean:
Eyal    5
dtype: int64

In [47]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())
lows = Series([6, 8, 8, 9, 8, 9, 8, 9, 8, 7],
              index='02 03 04 05 06 07 08 09 10 11'.split())

highs = highs*1.8 + 32

highs = highs.astype('int8')
highs

02    64
03    64
04    66
05    68
06    66
07    68
08    66
09    68
10    69
11    66
dtype: int8

In [63]:
import numpy as np
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())
print (highs.mean())
print (highs.std())

highs['04':'06'] = np.nan
print(highs.max())

highs=highs.fillna(highs.max())


print(highs)

print (highs.mean())
print (highs.std())

19.3
0.9486832980505138
21.0
02    18.0
03    18.0
04    21.0
05    21.0
06    21.0
07    20.0
08    19.0
09    20.0
10    21.0
11    19.0
dtype: float64
19.8
1.2292725943057181

In [67]:
highs = Series([18, 17, 19, 20, 21, 22, 19, 20, 21, 18],
              index='02 03 04 05 06 07 08 09 10 11'.split())

highs.sort_values(ascending=False).head(3)

07    22
06    21
10    21
dtype: int64

In [68]:
highs.nlargest(3)

07    22
06    21
10    21
dtype: int64

In [69]:
highs.loc['04':'08'].nsmallest(3)

04    19
08    19
05    20
dtype: int64

In [81]:
df = pd.read_csv('taxi.csv')
df[['passenger_count', 'trip_distance', 'total_amount']].describe()

       passenger_count  trip_distance  total_amount
count      9999.000000    9999.000000   9999.000000
mean          1.659466       3.158511     17.552472
std           1.333306       4.037516     15.137990
min           0.000000       0.000000     -7.800000
25%           1.000000       1.000000      8.800000
50%           1.000000       1.700000     12.800000
75%           2.000000       3.300000     19.800000
max           6.000000      64.600000    252.350000

In [87]:
df['passenger_count'].value_counts().nlargest(1)

passenger_count
1    7207
Name: count, dtype: int64

In [95]:
df.loc[df['trip_distance'] == 0 , 'total_amount'].mean()

31.581940298507465

In [96]:
df.loc[df['total_amount'] == 0, 'trip_distance'].mean()

nan

In [100]:
df = pd.read_csv('titanic3.csv', 
                                usecols = ['pclass', 'survived', 'sex', 'age', 'fare'])
df.loc[df['survived']==1]

      pclass  survived     sex      age      fare
0        1.0       1.0  female  29.0000  211.3375
1        1.0       1.0    male   0.9167  151.5500
5        1.0       1.0    male  48.0000   26.5500
6        1.0       1.0  female  63.0000   77.9583
8        1.0       1.0  female  53.0000   51.4792
...      ...       ...     ...      ...       ...
1261     3.0       1.0  female  63.0000    9.5875
1277     3.0       1.0    male  22.0000    7.2250
1286     3.0       1.0  female  38.0000    7.2292
1290     3.0       1.0  female  47.0000    7.0000
1300     3.0       1.0  female  15.0000   14.4542

[500 rows x 5 columns]