In [1]:
import random

random.randint(0,100)

62

In [4]:
import pandas as pd
from pandas import Series, DataFrame

s= Series([10,20,30,40,50,70])
s

0    10
1    20
2    30
3    40
4    50
5    70
dtype: int64

In [6]:
s.sum()

220

In [30]:
maxTemp = Series([30,29,28,32,33,35,26,27,31,32])

print(maxTemp.describe())
print(f'Maximum temp in first 5 days: maxTemp[0:5].max()')

count    10.000000
mean     30.300000
std       2.830391
min      26.000000
25%      28.250000
50%      30.500000
75%      32.000000
max      35.000000
dtype: float64
Maximum temp in first 5 days: maxTemp[0:5].max()

In [41]:
age = Series([47,46,19,16,12,5,67],index=('Roee Einat talia Raz Noga Eyal Shosy').split())
print (f'Over the mean:\n{age.loc[age>age.mean()]}\n')
print (f'1 sd below mean:\n{age.loc[age<(age.mean()-age.std())]}')

Over the mean:
Roee     47
Einat    46
Shosy    67
dtype: int64

1 sd below mean:
Eyal    5
dtype: int64

In [47]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())
lows = Series([6, 8, 8, 9, 8, 9, 8, 9, 8, 7],
              index='02 03 04 05 06 07 08 09 10 11'.split())

highs = highs*1.8 + 32

highs = highs.astype('int8')
highs

02    64
03    64
04    66
05    68
06    66
07    68
08    66
09    68
10    69
11    66
dtype: int8

In [63]:
import numpy as np
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())
print (highs.mean())
print (highs.std())

highs['04':'06'] = np.nan
print(highs.max())

highs=highs.fillna(highs.max())


print(highs)

print (highs.mean())
print (highs.std())

19.3
0.9486832980505138
21.0
02    18.0
03    18.0
04    21.0
05    21.0
06    21.0
07    20.0
08    19.0
09    20.0
10    21.0
11    19.0
dtype: float64
19.8
1.2292725943057181

In [64]:
highs = Series([18, 18, 19, 20, 19, 20, 19, 20, 21, 19],
              index='02 03 04 05 06 07 08 09 10 11'.split())

highs.sort_values(ascending=False).head(3)

10    21
05    20
07    20
dtype: int64

In [65]:
highs.nlargest(3)

10    21
05    20
07    20
dtype: int64

In [ ]:
highs.loc['04':'08'].nmalest